<div class="deck">
  <div class="actions--card">
    <div class="action--title">
      <%= render 'challenges_filter',
        challenges: @challenges,
        current_challenge: @current_challenge,
        filter_path: ->(challenge) { evaluations_path(challenge_id: challenge.id) } %>
    </div>
    <div class="action--list">
      <div class="action-element">
        <!-- Let's show the instructions button -->
        <%= content_tag :button,
              content_tag(:span, nil, class: 'glyphicon glyphicon-info-sign'),
              "rel" => "popover",
              "data-placement" => "bottom",
              "data-original-title" => t('.instructions_popover_title'),
              "class" => "btn btn-default"
        %>
        <div id="popover_content_wrapper" style="display: none">
          <%= content_tag :p, markdown_for_additional_links(@current_challenge.evaluation_instructions) %>
        </div>
      </div>
    </div>
  </div>

  <% if !@current_challenge.evaluations_opened && @current_challenge.criteria_must_be_present %>
    <%= render 'shared/show_ranking_summary', challenge: @current_challenge %>
  <% elsif @report_card && @current_challenge.criteria_must_be_present %>
    <!-- render progress bar -->
    <h5> <%= t('.number_of_evaluated_entries', number_of_entries: @report_card.evaluation.number_of_entries_graded) %></h5>
    <%= render 'shared/progress_bar_with_percentage', value_now: @report_card.evaluation.number_of_entries_graded, total_value: @report_card.evaluation.total_number_of_entries %>

    <div class="row" style="margin: 0;">
      <%= link_to(t('.next_entry'), evaluations_path(challenge_id: @current_challenge, report_card_id: @report_card.next), class: 'btn btn-default btn-sm pull-right', style: 'margin-left:10px;background-color:#337ab7;border-color:#2e6da4;color:white;') if @report_card.next %>
      <%= link_to(t('.previous_entry'), evaluations_path(challenge_id: @current_challenge, report_card_id: @report_card.previous), class: 'btn btn-default btn-sm pull-right') if @report_card.previous %>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= render 'entry_minimum', entry: @report_card.entry %>
      </div>

      <div class="col-sm-12 col-md-5 col-md-offset-1">
        <%= render 'evaluation_criteria', report_card: @report_card %>
      </div>
    </div>
  <% elsif !@current_challenge.criteria_must_be_present %>
      <%= render 'shared/empty_resource', message: t('.no_evaluation_criteria') %>
  <% else %>
      <%= render 'shared/empty_resource', message: t('.there_are_no_entries_to_evaluate_for_this_challenge') %>
  <% end %>

</div>
