<h1>Evaluaciones</h1>

<div class="deck">

  <div class="actions__card">
    <%= link_to t('.submit_evaluation'),
      edit_evaluation_path(@evaluation, challenge_id: @current_challenge.id),
      class: 'btn btn-default pull-right' %>

    <div class="l-space-bottom">
      <%= render 'challenges_filter',
        challenges: @challenges,
        current_challenge: @current_challenge,
        filter_path: ->(challenge) { evaluations_path(challenge_id: challenge.id) } %>
    </div>

    <% if @current_phase.present? %>
      <h4 class="l-space-bottom"><span class="label label-info">Etapa: <%= @current_phase %></span></h4>
    <% end %>
  </div>

  <% if @entries.any? %>
  <div class="table__card">
    <ul>
      <% @entries.each do |entry| %>
        <%= link_to dashboard_entry_path(entry) do %>
        <li class="table--row">
          <div class="title"><%= entry.member.email %></div>
          <div class="subtitle"><%= entry.name %></div>
          <div class="footer"><%= t('.sent-date') %> <%= l(entry.created_at, format: :short)%></div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="alert alert-info">
    <%= t('.no-proposals') %>
  </div>
  <% end %>

</div>
