<div class="deck">
  <div class="actions--card">
    <%= render 'challenges_filter',
      challenges: @challenges,
      current_challenge: @current_challenge,
      filter_path: ->(challenge) { evaluations_path(challenge_id: challenge.id) } %>
  </div>

  <% if @report_card && @current_challenge.criteria_must_be_present %>
    <!-- render progress bar -->
    <h5> <%= t('.number_of_evaluated_entries', number_of_entries: @report_card.evaluation.number_of_entries_graded) %></h5>
    <%= render 'shared/progress_bar_with_percentage', value_now: @report_card.evaluation.number_of_entries_graded, total_value: @report_card.evaluation.total_number_of_entries %>

    <%= link_to(t('.next_entry'), evaluations_path(challenge_id: @current_challenge, report_card_id: @report_card.next), class: 'btn btn-default pull-right', style: 'margin-left:10px;') if @report_card.next %>
    <%= link_to(t('.previous_entry'), evaluations_path(challenge_id: @current_challenge, report_card_id: @report_card.previous), class: 'btn btn-default pull-right') if @report_card.previous %>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= render 'entry_minimum', entry: @report_card.entry %>
      </div>

      <div class="col-sm-12 col-md-5 col-md-offset-1">
        <%= render 'evaluation_criteria', report_card: @report_card %>
      </div>
    </div>
  <% elsif !@current_challenge.criteria_must_be_present %>
      <%= render 'shared/empty_resource', message: t('.no_evaluation_criteria') %>
  <% else %>
      <%= render 'shared/empty_resource', message: t('.there_are_no_entries_to_evaluate_for_this_challenge') %>
  <% end %>

</div>
