<div class="deck">
  <div class="actions__card">
    <%= render 'challenges_filter',
      challenges: @challenges,
      current_challenge: @current_challenge,
      filter_path: ->(challenge) { evaluations_path(challenge_id: challenge.id) } %>


    <% if @current_phase.present? %>
      <h4 class="l-space-bottom"><span class="label label-info">Etapa: <%= @current_phase %></span></h4>
    <% end %>
  </div>

  <% if @entry %>
    <%= link_to t('.next_entry'), evaluations_path(challenge_id: @current_challenge, next: @entry), class: 'btn btn-default' %>
    <%= link_to t('.previous_entry'), evaluations_path(challenge_id: @current_challenge, prev: @entry), class: 'btn btn-default' %>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= render 'entry_minimum', entry: @entry %>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= render 'evaluation_criteria', evaluation: @evaluation, report_card: @report_card %>
      </div>
    </div>
  <% else %>
      <%= render 'shared/empty_resource', message: t('.there_are_no_entries_to_evaluate_for_this_challenge') %>
  <% end %>

</div>
