<div class="deck">
  <!-- Active Challenges -->
  <h3>Retos Activos</h3>
  <% if @challenges.any? %>
    <div class="table--card">
      <ul>
        <% @challenges.each do |challenge| %>
          <li class="table--row">
            <div class="row--title"><%= challenge.title %></div>
            <div class="row--subtitle row--challenge"><%= link_to("#{challenge.collaborators.size} participantes", dashboard_collaborators_path(challenge_id: challenge.id)) %>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "#{challenge.entries.size} propuestas", dashboard_entries_path(challenge_id: challenge.id) %> </div>
            <div class="row--footer">Fase: <%= challenge.current_phase_title %></div>
            <div class="row--tools"><%= link_to icon('edit'), edit_dashboard_challenge_path(challenge), title: 'Editar este reto' %> | <%= link_to icon('eye'), challenge_path(challenge), title: 'Ver vista pública' %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('.no-proposals') %>
    </div>
  <% end %>

  <!-- Latest entries -->
  <h3><%= t('.latest-entries')%></h3>

  <% if @entries.any? %>
    <div class="table--card">
      <ul>
        <% @entries.each do |entry| %>
          <li class="table--row">
            <div class="row--title"><%= link_to(entry.owner_name, dashboard_entry_path(entry)) %></div>
            <div class="row--subtitle"><%= entry.name %></div>
            <div class="row--footer"><%= t('.sent-date') %> <%= l(entry.created_at, format: :short)%></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('.no-proposals') %>
    </div>
  <% end %>
</div>
