<div class="deck">
  <!-- Active Challenges -->
  <h3>Retos Activos</h3>
  <% if @challenges.any? %>
  <div class="table__card">
    <ul>
      <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge), target: "_blank" do %>
      <li class="table--row">
        <div class="title"><%= challenge.title %></div>
        <div class="subtitle"><%= challenge.collaborators.size %> participantes &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= challenge.entries.size %> propuestas</div>
        <div class="footer"><%= t('.status') %>: <%= t("challenges.status.#{challenge.status}") %></div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="alert alert-info">
    <%= t('.no-proposals') %>
  </div>
  <% end %>

  <!-- Latest entries -->
  <h3><%= t('.latest-entries')%></h3>

  <% if @entries.any? %>
  <div class="table__card">
    <ul>
      <% @entries.each do |entry| %>
      <%= link_to dashboard_entry_path(entry), target: "_blank" do %>
      <li class="table--row">
        <div class="title"><%= entry.member.email %></div>
        <div class="subtitle"><%= entry.name %></div>
        <div class="footer"><%= t('.sent-date') %> <%= l(entry.created_at, format: :short)%></div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="alert alert-info">
    <%= t('.no-proposals') %>
  </div>
  <% end %>
</div>
