<p>Hola <%= @entry.member.representative %>,</p>

<p>
  Tu propuesta en el Reto "<%= @challenge.title %>", ha sido marcada como inválida,
  por los siguientes motivos:
</p>

<ul>
  <li><%= @entry.invalid_reason %></li>
</ul>

<p>
  Esto significa que no cumple con los criterios básicos para ser evaluada por el comité de evaluación.
  Te recomendamos revisar la <%= link_to "convocatoria", challenge_url(@challenge) %>
  de nuevo, y nos contactes en caso tengas cualquier duda.
</p>

<p>
  ¡Mucha suerte en tus próximas participaciones!<br>
  Saludos, <br>
  <strong>Retos Públicos</strong><br>
  <%= link_to 'retos.datos.gob.mx', root_url %>
</p>
