<section id="main-wrap">
  <div class="unit login-wrap">
    <div class="container holder">
      <section class="login-box">
        <header>
          <h1><%= t("signup.with_email") %></h1>
        </header>
        <div class="login-content">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :email, t('.email') %><br />
              <%= f.email_field :email, autofocus: true %></div>

            <div><%= f.label :password, t('.password') %><br />
              <%= f.password_field :password %></div>

            <div><%= f.label :password_confirmation, t('.password_confirmation') %><br />
              <%= f.password_field :password_confirmation %></div>

            <div><%= f.submit t('.sign_up') %></div>
          <% end %>

        </div>
        <%= render "devise/shared/links" %>
      </section>
    </div>
  </div>
</section>

