.deck
  - if @entries.any?
    %h3= t('dashboard.entries.index.entries-title')

    .table--card
      %ul
        %li.table--header
          = content_tag :div, t('dashboard.entries.index.legal_representative'), class: 'header--30'
          = content_tag :div, t('dashboard.entries.index.entry_name'), class: 'header--30'
          = content_tag :div, t('dashboard.entries.index.submitted_date'), class: 'header--30'
          = content_tag :div, t('dashboard.entries.index.actions'), class: 'header--10'
        - @entries.each do |entry|
          %li.table--row
            .row--30
              = entry.owner_name
              = render 'shared/entries/entry_status', entry: entry
            .row--30= entry.name
            .row--30
              = t('dashboard.entries.index.sent-date')
              = l(entry.created_at, format: :short)
            .row--10
              - if Phases.is_current?(:ideas, entry.challenge)
                = link_to icon('edit'), edit_challenge_entry_path(entry.challenge, entry), title: 'Editar propuesta'
              - else Phases.is_current?(:prototypes, entry.challenge)
                = link_to icon('edit'), edit_challenge_prototype_path(entry.challenge, entry), title: 'Editar prototipo'

  - else
    = render 'shared/empty_resource', message: t('dashboard.entries.index.no-proposals')
