.deck
  <!-- Active Challenges -->
  -# %h3 Retos Activos

  <!-- Latest entries -->

  - if @member.entries.any?
    %h3= t('.latest-entries')

    .table--card
      %ul
        %li.table--header
          = content_tag :div, t('dashboard.entries.index.legal_representative'), class: 'header--30'
          = content_tag :div, t('dashboard.entries.index.entry_name'), class: 'header--30'
          = content_tag :div, t('dashboard.entries.index.submitted_date'), class: 'header--30'
          = content_tag :div, t('dashboard.entries.index.actions'), class: 'header--10'
        - @entries.each do |entry|
          %li.table--row
            .row--30
              = entry.owner_name
              = render 'entry_status', entry: entry
            .row--30= entry.name
            .row--30
              = t('.sent-date')
              = l(entry.created_at, format: :short)
            .row--10
              = link_to icon('eye'), dashboard_entry_path(entry), id: "entry__#{entry.id}",  title: 'Ver propuestas'
  - else
    = render 'shared/empty_resource', message: t('.no-proposals')
