<h2 class="sheet-section-title"><%= t('.challenge') %> - <%= @challenge.title %></h2>
<%= form_for [@challenge, @entry], html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :name, t('.name'), class: 'control-label' %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :name, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :company_name, t(".company_name"), class: 'control-label' %>
      <span class="help-block"><%= t(".company-name-description") %></span>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :company_name, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :company_rfc, t(".company_rfc"), class: 'control-label' %>
      <span class="help-block"><%= t(".company-rfc-description") %></span>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :company_rfc, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :description, t(".description"), class: 'control-label' %>
      <span class="help-block"><%= t(".description-description") %></span>
    </div>
    <div class="col-sm-9">
      <%= f.text_area :description, required: true, class: 'form-control', rows: 3 %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :technologies, t(".technologies"), class: 'control-label' %>
      <span class="help-block"><%= t(".technologies-description") %></span>
    </div>
    <div class="col-sm-9">
      <%= f.select :technologies, grouped_options_for_select(@entry.technologies_options, selected: @entry.technologies), {},
        class: 'js-chosen form-control', multiple: true, 'data-placeholder' => 'Ruby, PostgreSQL ...' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :live_demo_url, t(".live-demo-url"), class: 'control-label' %>

      <% if @challenge.entry_template_url.present? %>
        <span class="help-block"><%= raw t(".demo-url-description", url: url_with_protocol(@challenge.entry_template_url)) %></span>
      <% else %>
        <span class="help-block"><%= t(".demo-url-description-without-template") %></span>
      <% end %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :live_demo_url, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :image, t(".image"), class: 'control-label' %>
      <span class="help-block"><%= t(".image-description") %></span>
    </div>
    <div class="col-sm-9">
      <%= image_tag @entry.image_url, width: 300 %>
      <%= f.file_field :image %>
    </div>
  </div>

  <%= f.hidden_field :member_id, value: current_member.id %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit t('.submit'), class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
