<h2 class="sheet-section-title"><%= t('.challenge') %> - <%= @challenge.title %></h2>
<%= form_for [@challenge, @entry], html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <div class="form-group">
    <%= f.label :name, t('.name'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, required: false, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, t(".description"), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, required: true, class: 'form-control', rows: 3 %>
      <span class="help-block"><%= t(".description-description") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :github_url, t(".github-url"), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :github_url, required: true, class: 'form-control' %>
      <span class="help-block"><%= t(".github-url-description") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :live_demo_url, t(".live-demo-url"), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :live_demo_url, class: 'form-control' %>
      <span class="help-block"><%= t(".demo-url-description") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :entry_logo, t(".entry-logo"), class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= image_tag @entry.entry_logo.url %>
      <%= f.file_field :entry_logo %>
      <span class="help-block"><%= t(".entry-logo-description") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, t(".image"), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= image_tag @entry.image_url, width: 300 %>
      <%= f.file_field :image %>
      <span class="help-block"><%= t(".image-description") %></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :team_members, t(".team-members"), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :team_members, class: 'form-control', rows: 3 %>
      <span class="help-block"><%= t(".team-members-description") %></span>
    </div>
  </div>

  <%= f.hidden_field :member_id, value: current_member.id %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('.submit'), class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
