<ol class="breadcrumb">
  <li><%= link_to @challenge.title, @challenge %></li>
  <li class="active"><%= @entry.name %></li>
</ol>

<div class="sheet-header">
  <h1><%= @entry.name %></h1>
</div>

<div class="sheet-section sheet-section-with-pad">
  <div class="row">
    <div class="col-lg-6">
      <% if preview_url(@entry.idea_url).present? %>
        <%= preview_url @entry.idea_url %>
      <% else %>
        <h3><%= t('.link-to-idea') %></h3>
        <%= link_to @entry.idea_url, @entry.idea_url %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h3><%= t(".description") %></h3>
      <%= simple_format @entry.description %>

      <h3>Empresa</h3>
      <p><%= @entry.company_name %></p>

      <h3>Tecnologías</h3>
      <p><%= @entry.technologies_separated_by_commas %></p>
    </div>
  </div>
</div>
