<h3><%= link_to t('.go-to-challenge', challenge: @challenge.title), challenge_path(@challenge) %></h3>

<section id="pitch" class="unit pitch">
  <header class="unit">
    <%= image_tag @entry.image.small.url, width: 80, style: 'vertical-align: middle;margin-right: 15px;' %>
    <h1 style="display:inline;"><%= @entry.name %></h1>
  </header>
  <section id="description" class="unit description">
    <div class="column left">
      <div class="content">
        <h2><%= t(".description") %></h2>
        <p><%= @entry.description %></p>
        <h2><%= t(".live-demo-url") %></h2>
        <p>Demo en línea: <%= link_to "#{@entry.live_demo_url}", @entry.live_demo_url, target: "_blank" %></p>
      </div>
    </div>
    <div class="column right">
      <div class="content">
        <h2>Empresa</h2>
        <p><%= @entry.member_name %></p>
        <h2>Tecnologías</h2>
        <p><%= @entry.technologies %></p>
      </div>
    </div>
  </section>
</section>
