<div class="content-box">
  <div class="box-title"><%= I18n.t('brigades.show.events.next_event') %></div>
  <div class="box-content row event">
    <div class="col-md-8">
      <h1><%= title %></h1>
      <h4>
        <%= event_date %>
        <span class="event-time">
          <%= event_time %>
          <%= image_tag("icons/calendario.svg", size: "18x18", class: "export-cal") %>
        </span>
      </h4>
      <h5 class="event-description"><%= description %></h5>
      <div class="participate-container">
        <button class='event-positive-button'><%= I18n.t('brigades.show.events.rsvp') %></button>
        <div class="num-people-going modal-link pop-over-subject" data-toggle="modal" data-target="#members-modal">
          <%= num_people_going %>
          <div class="people-going pop-over-results">
            <div>Kyle Boss</div>
            <div>Enrique Nieto</div>
            <div>Adrian Rangel</div>
            <div class="arrow"></div>
          </div>
        </div>
      </div>
      <span class="more-events-link modal-link" data-toggle="modal" data-target="#events-modal">
        <%= I18n.t('brigades.show.see_more') %>
        <%= I18n.t('brigades.show.events.event').pluralize(2).downcase %>
      </span>
      <%= render partial: 'events_modal' %>
    </div>
    <div class="col-md-4">
      <div id="map-canvas" class="circle-text event-map-canvas">
        <div id="googleMap" class="google-map"></div>
      </div>
      <div class="event-address">
        <a href="http://maps.google.com"><h4>777 Lucky Path</h4><h4>London, London. 94709</h4></a>
      </div>
    </div>
  </div>
</div>