<div id="projects-modal" class="modal fade projects-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= I18n.t('brigades.show.project').pluralize(2) %></h4>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="search-field project-search-field" placeholder="<%= I18n.t('brigades.show.search') %>">
          <input type="text" value="HTML,Ruby,Scheme" data-role="tagsinput" class="project-tag-search">
        </form>
        <div class="projects">
          <%= render partial: 'project',
                     locals: { title: "Semaforo", languages: ["Ruby", "Java", "Python", "Scheme"], from_modal: true,
                               last: false, contributors: ["Barack Obama", "Enrique Nieto", "Adrian Rangel"],
                               description: "Semaforo is a project in which takes the most efficient
                                                      algorithms and introduces them into the traffic lights to make
                                                      sure folks do not wait a long time at intersections." } %>
          <%= render partial: 'project',
                     locals: { title: "Hoodwinked", languages: ["Ruby", "Java"], last: false, from_modal: true,
                               contributors: ["Enrique Nieto", "Adrian Rangel"],
                               description: "A social app that allows citizens to become engaged and alert
                                                      the government of any new potholes that have formed." } %>

          <%= render partial: 'project',
                     locals: { title: "Jury Duty", languages: ["Java", "Python", "Scheme"], last: true,
                               contributors: ["Barack Obama"], from_modal: true,
                               description: "App that alerts citizens of their jury duty history." } %>
        </div>
      </div>
    </div>
  </div>
</div>