<div class="project <%= last ? 'last' : '' %>">
  <div class="upper-row">
    <h1 class="project-title"><%= title %></h1>
    <div class="coding-languages">
      <% tags.each do |tag| %>
          <span class="tag coding-language"><%= tag %></span>
      <% end %>
    </div>
  </div>
  <div class="contributions">
    <span class="contributors modal-link pop-over-subject" data-toggle="<%= from_modal ? '' : 'modal' %>" data-target="<%= from_modal ? '' : '#members-modal' %>">
      <%= contributors.length %> <%= I18n.t('brigades.show.projects.contributor').pluralize(contributors.length).downcase %>
      <div class="contributor-names pop-over-results">
        <% contributors.each do |contributor| %>
            <div><%= contributor.name %></div>
        <% end %>
        <div class="arrow"></div>
      </div>
    </span>
    <span class="project-positive-button"><%= I18n.t('brigades.show.projects.contribute') %></span>
  </div>
  <h5 class="project-description"><%= description %></h5>
</div>