<div class="content-box">
  <div class="box-title"><%= t("brigades.show.follow.follow") %></div>
  <div class="box-content social-networks">
    <button class="positive-button" onclick="follow()"><%= t("brigades.show.follow.follow") %></button>
    <a href="<%= twitter_url %>"><%= image_tag("icons/twitter.svg", class: "svg social-network") %></a>
    <a href="<%= facebook_url %>"><%= image_tag("icons/facebook.svg", class: "svg social-network") %></a>
    <a href="<%= github_url %>"><%= image_tag("icons/github.svg", class: "svg social-network") %></a>
    <a href="<%= slack_url %>"><%= image_tag("icons/slack.svg", class: "svg social-network") %></a>
  </div>
</div>