<div class="content-box">
  <div class="box-title">Follow</div>
  <div class="box-content social-networks">
    <button class="positive-button" onclick="follow()"><%= t("brigades.show.follow") %></button>
    <a><%= image_tag("icons/twitter.svg", class: "svg social-network") %></a>
    <a><%= image_tag("icons/facebook.svg", class: "svg social-network") %></a>
    <a><%= image_tag("icons/github.svg", class: "svg social-network") %></a>
    <a><%= image_tag("icons/slack.svg", class: "svg social-network") %></a>
  </div>
</div>