<div id="brigades" class="brigades">
  <%= render partial: 'hero_image', locals: { brigade: @brigade } %>
  <div class="post-hero-content">
    <p id="notice"><%= notice %></p>
    <p class="description">Monterrey's Brigade is incredibly fun. We have lots of events that happen on the daily.
    Lots of unique projects can be found and we have a wonderful, diverse community.</p>
    <div class="left-content">
      <%= render partial: 'social_panel' %>
      <%= render partial: 'stats_panel' %>
      <%= render partial: 'members_panel' %>
    </div>
    <div class="right-content">
      <%= render partial: 'event_panel',
                 locals: { title: "Hack And Wine", event_date: "Tuesday, April 5th",
                           event_time: "6:00 PM to 7:00 PM", num_people_going: "66 people going",
                           address: "777 Lucky Rd. London, London. 94843",
                           description: "This event is really cool. Everyone should go to it.
                                                        We will be discussing this, this, and this." } %>
      <%= render partial: 'projects_panel' %>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCihAwawm_tMs2GOoyqVV_JQXkj4ctYQ" async defer></script>
