<div id="brigades">
  <div class="hero-container" id="hero-container">
    <div class="hero-image-container" style="background-image: url(<%= @brigade.header_image_url %>)">
      <div class="translucent-overlay">
        <div class="hero-text-container">
          <div class="hero-text">Monterrey</div>
        </div>
      </div>
    </div>
  </div>
  <p id="notice"><%= notice %></p>
  
  <button onclick="follow()"><%= t("brigades.show.follow") %></button>

  <p>
    <b><%= t("brigades.location") %>:</b>
    <%= @brigade.location %>
  </p>

  <p>
    <b><%= t("brigades.description") %>:</b>
    <%= @brigade.description %>
  </p>

  <p>
    <b><%= t("brigades.calendar_url") %>:</b>
    <%= @brigade.calendar_url %>
  </p>

  <p>
    <b><%= t("brigades.slack_url") %>:</b>
    <%= @brigade.slack_url %>
  </p>

  <p>
    <b><%= t("brigades.github_url") %>:</b>
    <%= @brigade.github_url %>
  </p>

  <p>
    <b><%= t("brigades.facebook_url") %>:</b>
    <%= @brigade.facebook_url %>
  </p>

  <p>
    <b><%= t("brigades.twitter_url") %>:</b>
    <%= @brigade.twitter_url %>
  </p>

  <p>
    <b><%= t("brigades.header_image_url") %>:</b>
    <%= @brigade.header_image_url %>
  </p>

  <%= link_to 'Edit', edit_brigade_path(@brigade) %> |
  <%= link_to 'Back', brigades_path %>
</div>