<div id="brigades" class="brigades">
  <%= render partial: 'hero_image', locals: { city: @brigade.location.city, header_image_url: @brigade.header_image_url } %>
  <div class="post-hero-content">
    <p id="notice"><%= notice %></p>
    <p class="description"><%= @brigade.description %></p>
    <div class="left-content">
      <%= render partial: 'social_panel', locals: { twitter_url: @brigade.twitter_url,
                                                   facebook_url: @brigade.facebook_url,
                                                   github_url: @brigade.github_url, slack_url: @brigade.slack_url } %>
      <%= render partial: 'stats_panel', locals: { num_members: @brigade.num_members,
                                                   founding_date: @brigade.founding_date } %>
      <%= render partial: 'members_panel' %>
    </div>
    <div class="right-content">
      <%= render partial: 'event_panel',
                 locals: { title: "Hack And Wine", event_date: "Tuesday, April 5th",
                           event_time: "6:00 PM #{I18n.t('brigades.show.events.to')} 7:00 PM",
                           num_people_going: "66 #{I18n.t('brigades.show.events.people_going')}",
                           address: "777 Lucky Rd. London, London. 94843",
                           description: "This event is really cool. Everyone should go to it.
                                                        We will be discussing this, this, and this." } %>
      <%= render partial: 'projects_panel' %>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCihAwawm_tMs2GOoyqVV_JQXkj4ctYQ" async defer></script>
