<div class="form-group" style="padding-bottom:3em;">
  <div class="col-sm-3" style="padding-left:0px;">
    <%= f.label @email[:subject], t('.mail-subject-label'), class: 'control-label' %>
  </div>
  <div class="col-sm-9">
    <%= f.text_field @email[:subject], id: "email[subject]", name: "email[subject]", class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-3" style="padding-left:0px;">
    <%= f.label @email[:body], t('.mail-body-label'), class: 'control-label' %>
    <span class="help-block"><%= t('.mail-body-helper') %></span>
  </div>
  <div class="col-sm-9">
    <%= f.text_area @email[:body], id: "email[body]", name: "email[body]", class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.submit t('.submit'), class: 'btn btn-default pull-right', style: "margin-top:1em;" %>
  </div>
</div>
