<h1 class="l-space-bottom"><%= t('.view-title') %></h1>
<h3 class="l-space-bottom"><%= t('.view-subtitle') %></h3>

<%= form_for dashboard_challenge_emails_path(@current_challenge), url: { action: "create" } do |f| %>
  <%= f.hidden_field :finalists %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('.representative-header') %></th>
        <th><%= t('.company-header') %></th>
        <th><%= t('.link-to-proyect-header') %></th>
        <th><%= t('.include-in-email-header') %></th>
      </tr>
    </thead>
    <tbody>
      <% @current_challenge.current_finalists.each do |entry| %>
        <tr>
          <td><%= entry.member.user.name %></td>
          <td><%= entry.member.company_name %></td>
          <td><%= link_to entry.idea_url %></td>
          <td><%= check_box('members', "#{entry.member.id}", checked: 'checked') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'email_form', f: f %>
<% end %>
