<h1 class="l-space-bottom">Participantes</h1>

<%= form_for(dashboard_challenge_emails_path(@current_challenge), url: {action: "create"}) do |f| %>
  <div class="form-group" style="padding-bottom:3em;">
    <div class="col-sm-3">
      <%= f.label @email[:subject], "Título del correo", class: 'control-label' %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field @email[:subject], id: "email[subject]", name: "email[subject]", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label @email[:body], "Cuerpo del mensaje", class: 'control-label' %>
    </div>
    <div class="col-sm-9">
      <%= f.text_area @email[:body], id: "email[body]", name: "email[body]", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "Enviar", class: 'btn btn-primary btn-lg pull-right', style: "margin-top:1em;" %>
    </div>
  </div>
<% end %>
