<section id="pitch" class="pitch row">
  <header>
    <h1><%= current_user.name %></h1>
  </header>
</section>

<div class="form_container">
  <%= form_for current_user, url: set_role_user_path(current_user) do |f| %>
    <section id="form_main" class="form_main">

      <section>
        <div class="unit row">
          <div class="column left">
            <%= f.label :email, t(".email")  %>
          </div>
          <div class="column right">
            <%= f.text_field :email %>
          </div>
        </div>
      </section>

    </section>

    <section id="form_save" class="form_save">
      <%= submit_tag t('.complete_register'), name: 'member' %>
    </section>

  <% end %>
</div>
