<section id="pitch" class="pitch row">
  <header>
    <h1><%= @user.name %></h1>
  </header>
</section>

<div class="form_container">
  <%= form_tag set_role_user_path(@user) do %>
    <section id="form_main" class="form_main">

    <section>
    <div class="unit row">
      <div class="column left">
        <%= label_tag :email, t(".email")  %>
      </div>
      <div class="column right">
        <%= text_field_tag :email, @user.email %>
      </div>
    </div>

    </section>
    </section>

    <section id="form_save" class="form_save">
      <%= submit_tag "Organizacion" %>
      <br />
      <%= submit_tag "Participante" %>
    </section>

  <% end %>
</div>

