<div class="centered-form">
  <div class="sheet-header text-center">
    <h1 class="sheet-title"><%= t('.title') %></h1>
  </div>
  <div class="sheet-section sheet-section-with-pad">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('.submit'), class: 'btn btn-default btn-lg' %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
