%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
  .container
    .navbar-header
      <!-- brand -->
      = image_tag 'logocmx@2x.png', class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      <!-- left side of the navbar -->
      %ul.nav.navbar-nav
        - dashboard_links.each do |link|
          = content_tag :li, class: link[:active_class] do
            = link_to link[:name], link[:path]
      <!-- right side of the navbar -->
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{ href: "#", "data-toggle"=> "dropdown", role: "button", "aria-expanded"=> "false" }
            = current_user.name
            %span.caret
          %ul.dropdown-menu{ role: "menu" }
            %li= link_to 'Perfil', edit_organization_path(organization)
            %li= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete
