.entry.widget.col-sm-12.col-md-6
  .row
    .col-sm-3.image
      = image_tag entry.image_url, class: 'thumb'
    .col-sm-9.content
      -# Not included the entry status partial 'cause we don't want to show the invalid entries
      - if entry.accepted?
        - if entry.is_the_winner?
          %span.label.label-warning= t('.entry-winner')
        - else
          %span.label.label-success= t('.entry-accepted')
      = link_to truncate(entry.name, length: 30), challenge_entry_path(challenge, entry), target: '_blank', class: 'title'

      %p= truncate(entry.member.to_s, length: 60)
      - if entry.repo_url && entry.demo_url
        .resources
          = image_tag 'icons/github.png', class: 'github'
          = link_to 'Repo', entry.repo_url
          %span &nbsp; | &nbsp;

          = image_tag 'icons/demo.png', class: 'demo'
          = link_to 'Demo', entry.demo_url
