<footer id="main-footer">
  <div class="unit footer-wrap">
    <div class="container holder">
      <%= link_to t('.twitter'), "https://www.twitter.com/codeandomexico" %>
      <%= link_to "Blog", "http://blog.codeandomexico.org" %>
      <%= link_to t('.contact_us'), "mailto:equipo@codeandomexico.org" %>
      <%= link_to t('.about_us'), about_path %>
      <%= raw t('layout.copyright') %>
    </div>
  </div>
</footer>
