<header id="main-header" class="unit">
  <div class="unit header-pre-wrap">
    <div class="container holder">
      <div class="what-badge"></div>
      <p>
        <strong><%= t('layout.question') %> </strong><%= t('layout.brief') %><strong> <%= link_to t('layout.about'), about_path %></strong></p>
    </div>
  </div>
  <div class="unit header-wrap">
    <div class="container holder">
      <div class="logo"><%= link_to t('.layout.header'), root_path %></div>
      <nav>
        <ul class="main-menu">
          <li><%= link_to t('projects.index.header'), projects_path %></li>
          <li><%= link_to t('projects.new.header'), new_project_path %></li>
        </ul>

        <div class="languages">
          <span class="current icon-sort-down"><%= I18n.locale %></span>
          <ul class="list">
            <% LANGUAGES.each do |k, val| %>
              <li><%= link_to val, set_language_path(i18n: {locale: k}), method: :post, class: k %></li>
            <% end %>
          </ul>
        </div>

        <% if current_user %>
          <div class="current-user">
            <span><%= "#{t('layout.welcome')} #{current_user.to_s}" %>!</span> 
            <%= link_to t('layout.sign_out'), signout_path %>
          </div>
        <% else %>
          <ul class="login-menu">
            <li>
              <%= link_to sign_up_path do %>
                <%= t('layout.sign_in') %> <i class="icon-github"></i> <i class="icon-twitter"></i> <i class="icon-linkedin"></i>
              <% end %>  
            </li>
          </ul>
        <% end %>

        

      </nav>
    </div>
  </div>
  <% if signed_in? && !current_page?('/') %>
  <div class="header-green-margin"></div>
  <% end %>
</header>
