<header id="main-header">
  <div class="header-pre-wrap">
    <div class="row">
      <div class="what-badge"></div>
      <p>
        <strong><%= t('layout.question') %> </strong><%= t('layout.brief') %><strong> <%= link_to t('layout.about') %></strong></p>
    </div>
  </div>
  <div class="header-wrap">
    <div class="row">
      <div class="logo"><%= link_to t('.layout.header'), root_path %></div>
      <nav>
        <ul class="main-menu">
          <li><%= link_to t('projects.index.header'), projects_path %></li>
          <li><%= link_to t('projects.new.header'), new_project_path %></li>
        </ul>
        <% if current_user %>
        <div class="current-user">
                  <div class="current-user"><span><%= "#{t('layout.welcome')} #{current_user.to_s}" %>!</span> <%= link_to t('layout.sign_out'), signout_path %>
          <%= form_tag set_language_path do %>
            <%= select_tag 'i18n[locale]', options_from_collection_for_select(LANGUAGES, :first, :last, I18n.locale.to_s) %>
          <% end %>
        </div>
        <% else %>
        <ul class="login-menu">
          <li><%= link_to sign_up_path do %>
            <%= t('layout.sign_in') %> <i class="icon-github"></i> <i class="icon-twitter"></i> <i class="icon-linkedin"></i>
          <% end %>  
            <%= form_tag set_language_path do %>
              <%= select_tag 'i18n[locale]', options_from_collection_for_select(LANGUAGES, :first, :last, I18n.locale.to_s) %>
            <% end %>
          </li>
        </ul>
        <% end %>
      </nav>
    </div>
  </div>
  <% if signed_in? && !current_page?('/') %>
  <div class="header-green-margin"></div>
  <% end %>
</header>
