<div class="main-navbar">
  <div class="container">
    <%= link_to root_url, class: 'main-navbar-logo' do %>
      <%= image_tag 'logos-horizontal/retos_logo_horizontal-03.png', alt: t('layout.header') %>
    <% end %>

    <ul class="main-navbar-menu main-navbar-menu-last">
      <% if current_user %>
        <li><%= link_to current_user, edit_current_user_path(current_user.userable) %></li>
        <li><%= link_to t('layout.sign_out'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('layout.sign_in'), signup_path %></li>
      <% end %>
    </ul>
    <ul class="main-navbar-menu">
      <% if last_challenge %>
        <li><%= link_to last_challenge.title, challenges_url %></li>
      <% end %>
      <li><%= link_to t('layout.about'), about_path %></li>
    </ul>
  </div>
</div>
