<div class="header-banner">
  <div class="container">
    <div class="header-gobierno-logo">
      <%= image_tag 'gobieron-republica.png', alt: 'gobierno de la república' %>
    </div>
    <div class="header-social-links">
      <%= link_to "<i class='fa fa-twitter'></i>".html_safe, "https://twitter.com/intent/tweet?text=Emprendedores%20c%C3%ADvicos%20colaboraran%20con%20el%20Gobierno%20de%20la%20República%20para%20resolver%20los%20retos%20del%20pa%C3%ADs%3A%20retos.gob.mx&hashtags=RetosPúblicos", class: 'header-social-link', target: "_blank" %>
      <%= link_to "<i class='fa fa-facebook'></i>".html_safe, "http://www.facebook.com/sharer/sharer.php?p[url]=http://retos.gob.mx&p[title]=#Retos Públicos&p[description]=Emprendedores cívicos colaboraran con el Gobierno de la República para resolver los retos del país", class: 'header-social-link', target: "_blank" %>
    </div>
  </div>
</div>

<nav class="navbar navbar-default main-navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: 'hidden-xs main-navbar-logo' do %>
        <%= image_tag 'logos-horizontal/retos_logo_horizontal-03.png', alt: t('layout.header') %>
      <% end %>
      <%= link_to root_url, class: 'visible-xs-block main-small-navbar-logo' do %>
        <%= image_tag 'r-retos.png', alt: t('layout.header') %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right main-navbar-menu">
        <li><%= link_to t('layout.index_link'), challenges_url %></li>
        <li><%= link_to t('layout.about'), about_path %></li>

        <% if current_user %>
          <li class="main-navbar-menu-last"><%= link_to current_user, edit_current_user_path(current_user.userable) %></li>
          <li><%= link_to t('layout.sign_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="main-navbar-menu-last"><%= link_to t('layout.sign_in'), signup_path %></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
