<header id="main-header" class="unit">
  <div class="unit header-pre-wrap">
    <div class="container holder">
      <div class="what-badge"></div>
      <p>
        <strong><%= t('layout.question') %> </strong><%= t('layout.brief') %><strong> <%= link_to t('layout.about'), about_url(subdomain: false) %></strong></p>
    </div>
  </div>
  <div class="unit header-wrap">
    <div class="container holder">
      <div class="logo"><%= link_to t('.layout.header'), root_url(subdomain: false) %></div>
      <nav>
        <ul class="main-menu">
          <li><%= link_to t('challenges.index.header'), challenges_url(subdomain: false) %></li>
          <li><%= link_to "Datos Abiertos", "http://datos.codeandomexico.org/" %></li>
          <li><%= link_to "Blog", "http://blog.codeandomexico.org/" %></li>
        </ul>

        <div class="languages">
          <span class="current icon-sort-down"><%= I18n.locale %></span>
          <ul class="list">
            <% LANGUAGES.each do |k, val| %>
              <li><%= link_to val, set_language_path(i18n: {locale: k}), method: :post, class: k %></li>
            <% end %>
          </ul>
        </div>

        <% if user_signed_in? %>
          <div class="current-user">
            <% if current_user.has_role? %>
              <span><%= link_to current_user, edit_current_user_path(current_user.userable) %></span>
            <% end %>
            <%= link_to t('layout.sign_out'), destroy_authentication_session_path, method: :delete %>
          </div>
        <% else %>
          <ul class="login-menu">
            <li>
              <%= link_to new_authentication_session_url(subdomain: false) do %>
                <%= t('layout.sign_in') %> <i class="icon-github"></i> <i class="icon-twitter"></i> <i class="icon-linkedin"></i>
              <% end %>  
            </li>
          </ul>
        <% end %>

        

      </nav>
    </div>
  </div>
  <% if user_signed_in? && !current_page?('/') %>
  <div class="header-green-margin"></div>
  <% end %>
</header>
