<div class="header-banner">
  <div class="container">
    <div class="header-gobierno-logo">
      <%= image_tag 'gobieron-republica.png', alt: 'gobierno de la república' %>
    </div>
    <div class="header-social-links">
      <%= link_to "<i class='fa fa-twitter'></i>".html_safe, "http://twitter.com/home?status=Emprendedores cívicos colaboraran con el Gobierno de la República para resolver los retos del país", class: 'header-social-link', target: "_blank" %>
      <%= link_to "<i class='fa fa-facebook'></i>".html_safe, "http://www.facebook.com/sharer/sharer.php?p[url]=http://retos.gob.mx&p[title]=#Retos Públicos&p[description]=Emprendedores cívicos colaboraran con el Gobierno de la República para resolver los retos del país", class: 'header-social-link', target: "_blank" %>
    </div>
  </div>
</div>

<div class="main-navbar">
  <div class="container">
    <%= link_to root_url, class: 'main-navbar-logo' do %>
      <%= image_tag 'logos-horizontal/retos_logo_horizontal-03.png', alt: t('layout.header') %>
    <% end %>

    <ul class="main-navbar-menu main-navbar-menu-last">
      <% if current_user %>
        <li><%= link_to current_user, edit_current_user_path(current_user.userable) %></li>
        <li><%= link_to t('layout.sign_out'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('layout.sign_in'), signup_path %></li>
      <% end %>
    </ul>
    <ul class="main-navbar-menu">
      <li><%= link_to t('layout.index_link'), challenges_url %></li>
      <li><%= link_to t('layout.about'), about_path %></li>
    </ul>
  </div>
</div>
