<section id="main-wrap">
  <div class="row">
    <br />
    <h3><%= raw t('home.about.problem.title') %></h3>
    <%= raw t('home.about.problem.description') %>
    <br />
    <h3><%= raw t('home.about.what.title') %></h3>
    <%= raw t('home.about.what.description') %>
    <br />
    <h3><%= raw t('home.about.who.title') %></h3>
    <%= raw t('home.about.who.description') %>
    <br />
    <h3><%= raw t('home.about.open_data.title') %></h3>
    <%= raw t('home.about.open_data.description') %>
    <br /><br /><br />
  </div>
</section>
