<section id="about" class="unit about">
  <div class="container holder">

    <h3><%= raw t('home.about.problem.title') %></h3>
    <div class="unit tblock">
      <%= raw t('home.about.problem.description') %>
    </div>

    <h3><%= raw t('home.about.what.title') %></h3>
    <div class="unit tblock">
      <%= raw t('home.about.what.description') %>
    </div>

    <h3><%= raw t('home.about.who.title') %></h3>
    <div class="unit tblock">
      <%= raw t('home.about.who.description') %>
    </div>

    <h3><%= raw t('home.about.open_data.title') %></h3>
    <div class="unit tblock">
      <%= raw t('home.about.open_data.description') %>
    </div>
  </div>
</section>
