<section class="unit slogan-landing">
  <div class="container wrapper">

    <h1>Juntado el talento mexicano <span>para <em>hacer</em> el cambio</span></h1>

    <%= link_to projects_path, :class => "get-involved" do %>
      <%= t('.get_involved') %>
    <% end %>

    <div class="columns on-4 circles">
      <div class="column">
        <div class="unit circle c1"></div> <h3>Hackers</h3>
      </div>
      <div class="column">
        <div class="unit circle c2"></div> <h3>Diseñadores</h3>
      </div>
      <div class="column">
        <div class="unit circle c3"></div> <h3>Gobierno</h3>
      </div>
      <div class="column">
        <div class="unit circle c4"></div> <h3>Ciudadanía</h3>
      </div>
    </div>
  </div>
</section>

<section id="index_projects" class="unit index_projects home">
  <div class="container holder">

    <div class="unit home_pitch">
      Buscamos integrar tecnología con organizaciones, dando solucion a los retos que ellos proponen, para desarrollar la siguiente generación de tecnología cívica.
    </div>

    <header class="">
      <h1><%= t('.recent') %></h1>
    </header>

    <section id="projects_list" class="columns on-3 projects_list">

      <%= render @projects %>

    </section>
    
  </div>
</section>

<div class="unit landing_collage">
  <div class="container wrapper">
    <%= image_tag "collage.png" %>
  </div>
</div>
