<section id="main-wrap">
  <div class="main-home-wrap">
    <div class="row">
      
      <div class="action-wrap-box">
        <h1>Where developers come to meet.</h1>
        <%= link_to new_project_path, :class => "get-involved" do %>¡Involúcrate!<% end %>
      </div>
      
    </div>
  </div>
</section>

<section id="index_projects" class="index_projects home row">
  <header>
    <h1>Proyectos Recientes</h1>
  </header>
<section id="projects_list" class="projects_list row">
  <% @projects.each do |project| %>
    <article class="column left data">
      <div class="wrapper">
        <%= link_to project_path(project) do %>
          <header>
            <h2><%= project.title %></h2>
          </header>
          <%= image_tag project.avatar %>
          <p class="about">
            <%= project.about.truncate(160) %>
          </p>

          <div class="unit row resources">
            <div class="column left">
              <%= project.collaborators.count %>
              <p><%= I18n.t("project.resources.colaborators") %></p>
            </div>
            <div class="column left">
              5
              <p><%= I18n.t("project.resources.references") %></p>
            </div>
            <div class="column left">
              3
              <p><%= I18n.t("project.resources.datasets") %></p>
            </div>
          </div>
        <% end %>
        <%#= link_to 'Edit', edit_project_path(project) if can_edit_project? project %>
      </div>
    </article>

  <% end %>
</section>
</section>