<section id="main-wrap" class="unit">
  <div class="container holder main-home-wrap">
    <div class="action-wrap-box">
      <h1><%= raw t('.pitch')%> </h1>
      <%= link_to new_project_path, :class => "get-involved" do %> <%= t('.get_involved') %> <% end %>
    </div>
  </div>
</section>

<section id="index_projects" class="unit index_projects home">
  <div class="container holder">

    <header>
      <h1><%= t('.recent') %></h1>
    </header>
    
    <section id="projects_list" class="columns on-3 projects_list">
      <% @projects.each do |project| %>
        <article class="column fixed data">
          <div class="container wrapper">
            <%= link_to project_path(project) do %>
              <header>
                <h2><%= project.title.truncate(40) %></h2>
              </header>
              <%= image_tag project.avatar %>
              <p class="about">
                <%= project.description.truncate(145) %>
              </p>

              <div class="unit row resources">
                <div class="column left">
                  <%= project.collaborators.count %>
                  <p><%= t("projects.resources.collaborators") %></p>
                </div>
                <div class="column left">
                  <%= project.total_references %>
                  <p><%= t("projects.resources.references") %></p>
                </div>
                <div class="column left">
                  <%= project.dataset_url.present? ? "1" : "0" %>
                  <p><%= t("projects.resources.datasets") %></p>
                </div>
              </div>
            <% end %>
            <%#= link_to 'Edit', edit_project_path(project) if can_edit_project? project %>
          </div>
        </article>

      <% end %>
    </section>
    
  </div>
</section>
