<section class="unit slogan-landing">
  <div class="container wrapper">

    <h1><%= t("landing.slogan") %></h1>

    <%= link_to challenges_path, :class => "get-involved" do %>
      <%= t('.get_involved') %>
  <% end %>

    <div class="columns on-4 circles">
      <div class="column">
        <div class="unit circle c1"></div> <h3><%= t('.hackers') %></h3>
      </div>
      <div class="column">
        <div class="unit circle c2"></div> <h3><%= t('.designers') %></h3>
      </div>
      <div class="column">
        <div class="unit circle c3"></div> <h3><%= t('.government') %></h3>
      </div>
      <div class="column">
        <div class="unit circle c4"></div> <h3><%= t('.citizens') %></h3>
      </div>
    </div>
  </div>
</section>

<section id="index_challenges" class="unit index_challenges home">
  <div class="container holder">

    <div class="unit home_pitch">
      <%= t("landing.goal") %>
    </div>

    <header class="">
      <h1><%= t('.recent') %></h1>
    </header>

    <section id="challenges_list" class="columns on-3 challenges_list">

      <%= render @challenges %>

    </section>

  </div>
</section>

<div class="unit landing_collage">
  <div class="container wrapper">
    <%= image_tag "collage.png" %>
  </div>
</div>
