<section id="main-wrap">
  <div class="login-wrap">
    <div class="row">
      
      <section class="login-box">
        <header>
          <h1>Sign up / Log in</h1>
        </header>
        <div class="login-content">
          <p><%= I18n.t("signup.choose_provider") %></p>
          <p><%= link_to "/auth/github", :class => "github" do %><i class="icon-github"></i> <%= I18n.t("signup.with_github") %><% end %></p>
          <p><%= link_to "/auth/twitter", :class => "twitter" do %><i class="icon-twitter"></i> <%= I18n.t("signup.with_twitter") %><% end %></p>
          <p><%= link_to "/auth/linkedin", :class => "linkedin" do %><i class="icon-linkedin"></i> <%= I18n.t("signup.with_linkedin") %><% end %></p>
        </div>
      </section>
  
    </div>
  </div>
</section>
