<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 sheet-section sheet-section-with-pad">
    <h1><%= t('pages.about.title') %></h1>
    <%= image_tag 'info-quees.png', class: "img-responsive about-img" %>
    <%= image_tag 'info-objetivo.png', class: "img-responsive about-img" %>
    <%= image_tag 'info-proceso.png', class: "img-responsive about-img" %>
    <br/>
    <br/>
    <p><%= t('pages.about.info') %></p>
    <br/>
    <%= link_to t("pages.about.download"), "https://docs.google.com/document/d/1D4pgzYnLTvqX4t1NgMimOX6UbzzPL0aRvhQusnt1gss/edit?usp=sharing", class: "btn btn-primary btn-lg"%>
  </div>
</div>
