<div class="centered-form">
  <div class="sheet-header text-center">
    <h1 class="sheet-title"><%= t("signup.login")%></h1>
  </div>
  <div class="sheet-section sheet-section-with-pad">
    <p><%= I18n.t("signup.choose_provider") %></p>

    <% @omniauth_providers.each do |provider| %>
      <p>
      <%= link_to "/users/auth/#{provider}", class: 'btn btn-primary btn-lg btn-block' do %>
        <%= icon provider.to_s %> <%= t("signup.with_#{provider}") %>
      <% end %>
      </p>
    <% end -%>

    <p>
    <%= link_to new_user_session_path, class: 'btn btn-primary btn-lg btn-block' do %>
      <%= icon 'envelope' %> <%= t("signup.with_email") %>
    <% end %>
    </p>
  </div>
</div>
