.text-center
  %h1= t("signup.login")
  %p= I18n.t("signup.choose_provider")

  .social_container
    - @omniauth_providers.each do |provider|
      %p
      = link_to "/users/auth/#{provider}", class: 'btn btn-default btn-lg btn-block' do
        = fa_icon provider.to_s
        = t("signup.with_#{provider}")

    %p
    = link_to new_user_session_path, class: 'btn btn-default btn-lg btn-block' do
      = fa_icon 'envelope'
      = t("signup.with_email")
