<h1 class="l-space-bottom">Participantes</h1>

<%= link_to 'Exportar CSV',
  dashboard_collaborators_path(challenge_id: @current_challenge.id, format: :csv),
  class: 'btn btn-default pull-right' %>

<%= render 'challenges_filter',
  challenges: @challenges,
  current_challenge: @current_challenge,
  filter_path: ->(challenge) { dashboard_collaborators_path(challenge_id: challenge.id) } %>

<% if @collaborators.any? %>
  <table id="collaborators" class="table table-striped table-vertically-centered">
    <thead>
      <tr>
        <th><%= t('.id') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.email') %></th>
        <th><%= t('.company-name') %></th>
        <th><%= t('.signup-date') %></th>
      </tr>
    </thead>
    <tbody>
      <% @collaborators.each do |collaborator| %>
        <tr>
          <td><%= collaborator.id %></td>
          <td><%= collaborator.name %></td>
          <td><%= collaborator.email %></td>
          <td><%= collaborator.company_name %></td>
          <td><%= collaborator.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    <%= t('.no-collaborators') %>
  </div>
<% end %>
