<div class="deck">
  <div class="actions--card">
    <div class="action--title"></div>
    <div class="action--list">
      <%= link_to t('.new-challenge'), new_dashboard_challenge_path,
      class: 'btn btn-default action-element' %>
    </div>
  </div>

  <% if @challenges.any? %>
    <div class="table--card">
      <ul>
        <% @challenges.each do |challenge| %>
          <li class="table--row">
            <div class="row--title"><%= challenge.title %></div>
            <div class="row--subtitle row--challenge"><%= challenge.collaborators.size %> participantes &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= challenge.entries.size %> propuestas</div>
            <div class="row--footer">Fase: <%= challenge.current_phase_title %></div>
            <div class="row--tools"><%= link_to icon('edit'), edit_dashboard_challenge_path(challenge), title: 'Editar este reto' %> | <%= link_to icon('eye'), challenge_path(challenge), title: 'Ver vista pública' %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('.no-proposals') %>
    </div>
  <% end %>
</div>
