<div class="deck">
  <div class="actions__card">
    <div class="action--title"></div>
    <div class="action--list">
      <%= link_to t('.new-challenge'), new_organization_challenge_path(organization),
      class: 'btn btn-default' %>
    </div>
  </div>

  <% if @challenges.any? %>
  <div class="table__card">
    <ul>
      <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge), target: "_blank" do %>
      <li class="table--row">
        <div class="row--title"><%= challenge.title %></div>
        <div class="row--subtitle"><%= challenge.collaborators.size %> participantes &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= challenge.entries.size %> propuestas</div>
        <div class="row--footer"><%= t('.status') %>: <%= t("challenges.status.#{challenge.status}") %></div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="alert alert-info">
    <%= t('.no-proposals') %>
  </div>
  <% end %>
</div>
