<div class="deck">
  <div class="actions--card">
    <div class="action--title"></div>
    <div class="action--list">
      <%= link_to t('.new-challenge'), new_organization_challenge_path(organization),
      class: 'btn btn-default action-element' %>
    </div>
  </div>

  <% if @challenges.any? %>
    <div class="table--card">
      <ul>
        <% @challenges.each do |challenge| %>
          <li class="table--row">
            <div class="row--title"><%= link_to challenge.title, challenge_path(challenge) %></div>
            <div class="row--subtitle"><%= challenge.collaborators.size %> participantes &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= challenge.entries.size %> propuestas</div>
            <div class="row--footer">Fase: <%= challenge.current_phase_title %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= t('.no-proposals') %>
    </div>
  <% end %>
</div>
