<section id="comments" class="comments row">
  <header>
    <% if signed_in? and (current_user.collaborating_in?(@project) or current_user == @project.creator) %>
      <%= link_to t(".comment"), "#", class: "comment" %>
    <% end %>
    <h2><%= t("projects.form.comments") %></h2>
  </header>
  <section>
    
    <div class="wrapper">
      <div class="unit comment_form cbox">
        <% if signed_in? and (current_user.collaborating_in?(@project) or current_user == @project.creator) %>
          <%= form_for [@project, Comment.new] do |f| %>
            <div class="column left info">
              <%= image_tag current_user.avatar_url %>
              <span class="name"><%= current_user.name %></span>
              <time><%= Time.now.strftime("%B %e, %Y") %></time>
            <span class="clock"><%= Time.now.strftime("%l:%M %P") %></span>
            </div>
            <div class="column right data">
              <div class="unit box">
                <%= f.text_area :body%>
                <%= f.submit t(".comment"), class: "reply" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>      
      
    <% @comments.each do |comment| %>
      <div class="columns on-2 cbox">
        <div class="column fixed left info">
          <%= image_tag comment.user.avatar_url %>
          <span class="name"><%= comment.user.name %></span>
          <time><%= comment.created_at.strftime("%B %e, %Y") %></time>
          <span class="clock"><%= comment.created_at.strftime("%l:%M %P %Z") %></span>
        </div>
        <div class="column fixed right data">
          <div class="unit box com">
            <div class="votes">
              <% if signed_in? and !current_user.voted_on?(comment) and comment.user != current_user %>
                <%= link_to like_project_comment_path(@project, comment, like: true), method: :post do %>
                  <span class="icon-sort-up"></span>
                <% end %>
                <span class="count"><%= comment.votes_counter %></span>
                <%= link_to like_project_comment_path(@project, comment), method: :post  do %>
                  <span class="icon-sort-down"></span>
                <% end %>
              <% else %>
                <span class="icon-sort-up"></span>
                <span class="count"><%= comment.votes_counter %></span>
                <span class="icon-sort-down"></span>
              <% end %>
            </div>
            <% if signed_in? %>
              <%= link_to t(".reply"), "#", class: "reply" %>
            <% end %>
            <p class="comment jtruncate"><%= comment.body_html %></p>

            <div class="replies">
              <% comment.children.each do |comment| %>
                <div class="rep">
                  <strong class="name"><%= comment.user.name %> <span class="time"><%= comment.created_at.strftime("%B %e, %Y %l:%M %P %Z") %></span></strong>
                  <p class="comment jtruncate"><%= comment.body_html %></p>
                </div>
              <% end %>
            </div>
            <% if signed_in? %>
              <div class="form">
                <%= form_for([@project, Comment.new], url: reply_project_comment_path(@project, comment, parent: comment), method: :post) do |f| %>
                  <%= f.text_field :body %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    </div>

  </section>
</section>
