<section id="resources" class="unit resources">
  <div class="columns on-3">
    <div class="column collaborators">
      <div class="contianer content">
        <%= @project.collaborators.count %>
        <p><%= t(".collaborators") %></p>
        <span class="arrow"></span>
      </div>
    </div>
    <div class="column references">
      <div class="contianer content">
        <%= @project.total_references %>
        <p><%= t(".references") %></p>
        <span class="arrow"></span>
      </div>
    </div>
    <div class="column datasets">
      <div class="contianer content">
        <%= @project.dataset_url.present? ? "1" : "0" %>
        <p><%= t(".datasets") %></p>
        <span class="arrow"></span>
      </div>
    </div>
  </div>
  <div class="unit resources_display row">
    <% if @project.collaborators.blank? %>
      <%= t(".non-collaboration") %>
    <% else %>
      <h4><%= t('.collaborators')%> </h4>
      <div class="unit row">
          <% @project.collaborators.each do |collaborator| %>
            <p class="collab">
              <%= image_tag collaborator.avatar_url %>
              <%= link_to collaborator, "#" %> <br />
            </p>
          <% end %>
      </div>
    <% end %>
    <% if !@project.dataset_url.blank? %>
    <div class="unit row">
      <h4><%= t('.datasets') %></h4>
      <%= link_to @project.dataset_url, @project.dataset_url %>
    </div>
    <% end %>
    
  </div>
</section>
