
<section id="index_projects" class="index_projects">
  <header>
    <h1><%= t('.header') %></h1>
  </header>

  <section id="projects_list" class="columns on-3 projects_list">
    <% @projects.each do |project| %>
      <article class="column fixed data">
        <div class="container wrapper">
          <%= link_to project_path(project) do %>
            <header>
              <h2><%= project.title %></h2>
            </header>
            <%= image_tag project.avatar %>
            <p class="about">
              <%= project.about.truncate(160) %>
            </p>

            <div class="unit row resources">
              <div class="column left">
                <%= project.collaborators.count %>
                <p><%= t("projects.resources.collaborators") %></p>
              </div>
              <div class="column left">
                <%= project.total_references %>
                <p><%= t("projects.resources.references") %></p>
              </div>
              <div class="column left">
                <%= project.dataset_url.present? ? "1" : "0" %>
                <p><%= t("projects.resources.datasets") %></p>
              </div>
            </div>
          <% end %>
          <%#= link_to 'Edit', edit_project_path(project) if can_edit_project? project %>
        </div>
      </article>

    <% end %>
  </section>
</section>

<% if signed_in? %>
  <section id="new_project" class="unit new_project">
    <%= link_to t('.new_project'), new_project_path %>
  </section>
<% end %>


