<h1><%= @project.title %></h1>

<%= collaborate_section(@project) %> <br />
<%= @project.likes_counter %>
<%= like_section(@project) %> <br />

Status: <%= @project.status %> <br />
Creado por: <%= @project.creator %> -
<i>"<%= @project.creator.bio %>"</i>

<h2>Descripción</h2>
<%= @project.description %>
<h2>Puntos</h2>
<%= @project.first_spec %><br />
<%= @project.second_spec %><br />
<%= @project.third_spec %><br />
<h2>Colaboradores</h2>
<% if @project.collaborators.blank? %>
	Anímate. Sé el primero en colaborar en este proyecto
<% else %>
	<% @project.collaborators.each do |collaborator| %>
		<p>
			<%= link_to "#{collaborator.name}", "#" %> <br />
			<%= collaborator.email %> <br />
		</p>
	<% end %>
<% end %>
<h2>DataSet</h2>
<%= @project.dataset_url %>
<h2>Discusión</h2>
<%= render 'comments' %>
