<section id="pitch" class="unit pitch">
  <header class="unit">
    <nav>
      <%= like_section(@project) %>
      <%= collaborate_section(@project)  %>
    </nav>
    <h1><%= @project.title %></h1>
  </header>
  <section id="description" class="unit description ">
    <div class="column left">
      <%= image_tag @project.avatar_url(:profile), style: "width:600px;height:360px;" %>
      <div class="owner">
        <span class="name"><%= t("projects.form.created-by") %> <em><%= @project.creator %></em></span>
        <span class="status"><%= @project.status %></span>
      </div>
    </div>
    <div class="column right">
      <div class="content">
        <h2><%= t("projects.form.about") %></h2>
        <p><%= @project.about %></p>
      </div>
    </div>
  </section>
</section>

<section id="slogan" class="unit slogan ">
  <h3><%= @project.pitch %></h3>
</section>


<%= render "resources" %>


<section id="needs" class="unit needs ">
  <header>
    <h2><%= t("projects.form.needs") %></h2>
  </header>
  <div class="column left">
    <div class="content">
      <%= @project.description_html %>
    </div>
  </div>
  <div class="column right">
      <h3><%= t("projects.form.points") %></h3>
      <ul class="points">
        <% if !@project.first_spec.blank? %>
          <li><%= @project.first_spec %></li>
        <% end %>
        <% if !@project.second_spec.blank? %>
          <li><%= @project.second_spec %></li>
        <% end %>
        <% if !@project.third_spec.blank? %>
          <li><%= @project.third_spec %></li>
        <% end %>
      </ul>
  </div>
</section>


<%= render "activities" %>


<%= render "comments" %>


<section id="supportus" class="unit supportus ">
  <header>
    <h2><%= t(".supportus") %></h2>
  </header>
  <section>
    <%= like_section(@project) %>
    <%= collaborate_section(@project)  %>
  </section>
</section>