<section id="main-wrap">
  <div class="unit login-wrap">
    <div class="container holder">
      <section class="login-box">
        <header>
          <h1><%= t("signup.login") %></h1>
        </header>
        <div class="login-content">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <div><%= f.label :email, t('.email') %><br />
              <%= f.email_field :email, :autofocus => true %></div>

            <div><%= f.label :password, t('.password') %><br />
              <%= f.password_field :password %></div>

            <div><%= f.submit t('.submit') %></div>
          <% end %>
        </div>
        <div class="links">
          <%= render "devise/shared/links" %>
        </div>
      </section>
    </div>
  </div>
</section>

