<section id="main-wrap">
  <div class="unit login-wrap">
    <div class="container holder">
      <section class="login-box">
        <header>
          <h1><%= t("signup.login") %></h1>
        </header>
        <div class="login-content">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <div><%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true %></div>

            <div><%= f.label :password %><br />
              <%= f.password_field :password %></div>

            <div><%= f.submit "Sign in" %></div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </section>
    </div>
  </div>
</section>

