#challenge__submenu.challenge.tabs
  -# button groups
  .btn-group.btn-group-justified{ role: 'group' }
    %a#challenge__abstract_tab.btn.btn-default.active{'href' => "#challenge__abstract", 'data-toggle' => 'tab' }
      General
    %a#challenge__documentation_tab.btn.btn-default{'href' => "#challenge__documentation", 'data-toggle' => 'tab' }
      Documentación
    -# %a#challenge__prize_tab.btn.btn-default{'href' => "#challenge__prize", 'data-toggle' => 'tab' }
      Premios
    %a#challenge__prize_tab.btn.btn-default{'href' => "#challenge__collaborators", 'data-toggle' => 'tab' }
      Participantes
    %a#challenge__prize_tab.btn.btn-default{'href' => "#challenge__entries", 'data-toggle' => 'tab' }
      Propuestas

    -# %a#challenge__news_tab.btn.btn-default{'href' => "#challenge__news", 'data-toggle' => 'tab' }
      %div{ 'data-toggle' => "tooltip", 'data-placement' => "left", 'title' => "Noticias" }
        Noticias


.tab-content
  .tab-pane.fade.in.active{ id: "challenge__abstract" }
    .challenge.description
      %h3 Objetivos del reto
      %p= markdown_for_additional_links @challenge.description

    - if @challenge.specs?
      .challenge.specs
        %h5 Puntos clave:
        %ul
          - if @challenge.first_spec.present?
            %li= markdown @challenge.first_spec

          - if @challenge.second_spec.present?
            %li= markdown @challenge.second_spec

          - if @challenge.third_spec.present?
            %li= markdown @challenge.third_spec

          - if @challenge.fourth_spec.present?
            %li= markdown @challenge.fourth_spec

          - if @challenge.fifth_spec.present?
            %li= markdown @challenge.fifth_spec


  .tab-pane.fade.in{ id: "challenge__documentation" }
    .challenge.datasets
      = render 'datasets', challenge: @challenge, datasets: @datasets
  .tab-pane.fade.in{ id: "challenge__prize" }
    .challenge.prize
      = markdown_for_additional_links @challenge.prize
  .tab-pane.fade.in{ id: "challenge__collaborators" }
    .challenge.collaborators
      = render 'collaborators', collaborators: @challenge.collaborators
  .tab-pane.fade.in{ id: "challenge__entries" }
    .challenge.entries
      = render 'entries', entries: @challenge.entries, challenge: @challenge

  -# .tab-pane.fade.in{ id: "challenge__news" }
  -#   .challenge.news
      -# insert news content here

-# .challenge.jury
  -# %h3 Criterios y comité de evaluación
  -# %p= markdown_for_additional_links @challenge.description
