<article class="column">
  <div class="container challenge_box">
    <%= link_to organization_challenge_path(challenge.organization.id, challenge) do %>

      <div class="unit image">
      <%= image_tag challenge.avatar %>
      <h2><%= challenge.title.truncate(60) %></h2>
    </div>

    <div class="unit colaborate">
      <span class="get">
        <%= t('home.index.get_involved') %>
      </span>
      <span class="num">
        <i class="icon-user"></i>
        <em><%= challenge.collaborators.count %></em>
        <%= t("challenges.resources.collaborators") %>
      </span>
    </div>

  <% end %>
  </div>
</article>
