-# Timeline for the desktop
.challenge.timeline.hidden-xs.hidden-sm
  .phases-bar.phases-bar.js-phases-bar
    .phases-bar-milestone
      .phases-arrow
        .phases-arrow-dot
        .phases-arrow-line
      .phases-date.phases-date-milestone
        %dl
          %dt= @timeline.start.title
          %dd= @timeline.start.date
    .phases-bar-phase
      .phases-bar-completeness{ "data-size"=> "#{@timeline.ideas.completeness}" }
      %p.dark= @timeline.ideas.title
      .phases-arrow.phases-arrow-end
        .phases-arrow-dot
        .phases-arrow-line
      .phases-date.phases-date-phase
        %dl
          %dt= @timeline.ideas.due_date_title
          %dd= @timeline.ideas.due_date
    .phases-bar-phase
      .phases-bar-completeness{ "data-size"=>"#{@timeline.ideas_selection.completeness}" }
      %p.dark= @timeline.ideas_selection.title
    .phases-bar-milestone
      .phases-arrow
        .phases-arrow-dot
        .phases-arrow-line
      .phases-date.phases-date-milestone
        %dl
          %dt= @timeline.ideas_selection.due_date_title
          %dd= @timeline.ideas_selection.due_date
    .phases-bar-phase
      .phases-bar-completeness{ "data-size"=> "#{@timeline.prototypes.completeness}" }
      %p.dark= @timeline.prototypes.title
      .phases-arrow.phases-arrow-end
        .phases-arrow-dot
        .phases-arrow-line
      .phases-date.phases-date-phase
        %dl
          %dt= @timeline.prototypes.due_date_title
          %dd= @timeline.prototypes.due_date
    .phases-bar-phase
      .phases-bar-completeness{ "data-size"=> "#{@timeline.prototypes_selection.completeness}" }
      %p.dark= @timeline.prototypes_selection.title
    .phases-bar-milestone
      .phases-arrow
        .phases-arrow-dot
        .phases-arrow-line
      .phases-date.phases-date-last-milestone
        %dl
          %dt= @timeline.prototypes_selection.due_date_title
          %dd= @timeline.prototypes_selection.due_date
  - if @challenge.has_finished? && !@challenge.has_a_winner?
    .row
      .col-xs-12
        .alert.alert-warning
          %p.disclaimer= t('challenges.show.disclaimer', organization_name: @organization.name)

-# Dates for mobiles
.mobile-challenge-dates.visible-xs-block.visible-sm-block.text-center
  %p
    %strong= @timeline.start.title
  %p= @timeline.start.date

  %p
    %strong= @timeline.ideas.due_date_title
  %p= @timeline.ideas.due_date

  %p
    %strong= @timeline.ideas_selection.due_date_title
  %p= @timeline.ideas_selection.due_date

  %p
    %strong= @timeline.prototypes.due_date_title
  %p= @timeline.prototypes.due_date

  %p
    %strong= @timeline.prototypes_selection.due_date_title
  %p= @timeline.prototypes_selection.due_date
