<%= link_to organization_challenge_path(challenge.organization.id, challenge),
  class: 'challenge-item',
  style: "background-image: url(#{challenge.avatar_url(:small)})" do %>
  <div class="challenge-item-content">
    <h3><%= challenge.title.truncate(60) %></h3>
    <div class="row">
      <div class="col-md-5">
        <div class="challenge-item-block">
          <span><%= t('pages.index.get_involved') %></span>
        </div>
      </div>
      <div class="col-md-7">
        <div class="challenge-item-block">
          <strong><%= challenge.collaborators.count %></strong>
          <span><%= t("challenges.resources.collaborators") %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
