<%= link_to organization_challenge_path(challenge.organization.id, challenge),
  class: 'challenge-item',
  style: "background-image: url(#{challenge.avatar_url(:small)});" do %>
  <div class="challenge-item-content">

    <div class="row">
      <div class="col-md-7 background-light-green">
        <p class="text-white text-bold"><%= challenge.title.truncate(60) %></p>
      </div>
      <div class="col-md-5">
        <p class="text-white text-light text-small text-center"><%= t(".number-of-collaborators", count: challenge.collaborators.count) %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 background-dark-green" style="padding-bottom:10px;">
        <p class="text-white text-light" style="margin-top:20px;"><%= challenge.organization %></p>
      </div>
      <div class="col-md-5" style="padding-bottom:10px;">
        <p class="text-light-green text-bold text-small text-center"><%= challenge.current_phase_title %></p>
        <div class="row">
          <div class="col-md-offset-2 col-md-2 challenge-phase-bar challenge-green-bar"></div>
          <div class="col-md-2 challenge-phase-bar challenge-green-bar"></div>
          <div class="col-md-2 challenge-phase-bar challenge-green-bar"></div>
          <div class="col-md-2 challenge-phase-bar challenge-black-bar"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
