<div id="comentarios" class="challenge-subheader challenge-subheader-comments text-center">
  <h3><%= t("challenges.form.comments") %></h3>
  <div class="challenge-comments-action">
    <% if can? :create_or_reply_challenge_comment, challenge %>
      <%= link_to t(".comment"), "#", class: "btn btn-primary btn-lg js-open-comments-form" %>
    <% else %>
      <% if !(current_user || current_organization) %>
        <%= link_to t(".comment"), guest_challenge_comments_path(challenge), class: "btn btn-primary btn-lg" %>
      <% end %>
    <% end %>
  </div>
</div>

<% if can? :create_or_reply_challenge_comment, challenge %>
  <%= form_for [challenge, Comment.new], remote: true, html: { class: 'comments-form' } do |form| %>
    <div class="media">
      <div class="pull-left">
        <%= image_tag current_user.image_url(:thumb), class: 'avatar-thumb media-object' %>
      </div>
      <div class="media-body">
        <h4 class="media-heading comment-item-title"><%= current_user %></h4>
        <small>- <%= l Time.zone.now, format: :long %></small>
        <%= form.text_area :body, class: 'comments-form-body', rows: 3 %>
        <div class="text-right">
          <%= link_to t('.cancel'), '#', class: 'btn btn-lg js-close-comments-form' %>
          <%= form.submit t(".comment"), class: 'btn btn-primary btn-lg', :disable_with => "Comentando..." %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div id="challenge_comments_container" class="sheet-section challenge-comments">
  <% if @comments.empty? %>
    <div id="no_challenges">
      <%= t('.non-comments') %>
    </div>
  <% else %>
    <div class="text-right">
      <%= t('.order_by') %>
      <%= link_to t('.vote_count'), challenge_path(@challenge, anchor:"challenge_comments_container", order_by: "votes") %>
      <span> | </span>
      <%= link_to t('.most_recent'), challenge_path(@challenge, anchor:"challenge_comments_container", order_by: "recent") %>
    </div>
    <div class="comment-container">
      <%= render @comments, challenge: @challenge %>
    </div>
    <div class="text-center">
      <%= paginate @comments, params: { anchor: 'challenge_comments_container' } %>
    </div>
  <% end %>
</div>
