<div class="challenge-subheader">
  <div class="col-md-7">
    <h3><%= t("challenges.form.comments") %></h3>
  </div>
  <div class="col-md-5 text-right">
    <div class="challenge-subheader-actions">
      <% if can? :create_or_reply_challenge_comment, challenge %>
        <%= link_to t(".comment"), "#",
          class: "btn btn-primary btn-lg js-open-comments-form" %>
      <% end %>
    </div>
  </div>
</div>

<% if can? :create_or_reply_challenge_comment, challenge %>
  <%= form_for [challenge, Comment.new], remote: true, html: { class: 'comments-form' } do |form| %>
    <div class="media">
      <div class="pull-left">
        <%= image_tag current_user.image_url(:thumb), class: 'avatar-thumb media-object' %>
      </div>
      <div class="media-body">
        <h4 class="media-heading comment-item-title"><%= current_user %></h4>
        <span>- <%= l Time.zone.now, format: :long %></span>
        <%= form.text_area :body, class: 'comments-form-body', rows: 3 %>
        <div class="text-right">
          <%= link_to t('.cancel'), '#', class: 'btn btn-lg js-close-comments-form' %>
          <%= form.submit t(".comment"), class: 'btn btn-primary btn-lg', :disable_with => "Comentando..." %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div id="challenge_comments_container" class="challenge-section challenge-comments">
  <%= render @comments, challenge: @challenge %>
</div>
