<% if @entries.empty? %>
  <%= t(".non-entries") %>
<% else %>
  <div class="unit">
    <% @entries.each do |entry| %>
      <div class="dataset-teaser">
        <%= image_tag entry.image.small.url, width: 80, class: 'dataset-teaser-logo' %>
        <div class='dataset-teaser-info' >
          <%= link_to entry.name.truncate(43), challenge_entry_path(@challenge, entry) %>
          <p><%= entry.description.truncate(95) %><br/>
          <%= link_to t(".demo"), entry.live_demo_url if entry.live_demo_url %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
