<% if entries.empty? %>
  <%= t(".non-entries") %>
<% else %>
  <% entries.each do |entry| %>
    <div class="media">
      <%= link_to challenge_entry_path(challenge, entry), class: 'pull-left' do %>
        <%= image_tag entry.image.small.url, class: 'media-object' %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to entry.name, challenge_entry_path(challenge, entry) %>
        </h4>
        <p><%= truncate entry.description, length: 200 %></p>
        <%= link_to t(".demo"), entry.live_demo_url if entry.live_demo_url %>
      </div>
    </div>
  <% end %>
<% end %>
