<%= form_for [current_organization, @challenge], html: { class: 'form-horizontal' } do |f| %>
  <div class="sheet-section sheet-section-with-pad">
    <%= f.error_messages %>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :title, t(".title"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :pitch, t(".pitch"), class: 'control-label' %>
        <span class="help-block"><%= t(".pitch-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :pitch, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :avatar, t(".avatar"), class: 'control-label' %>
        <span class="help-block"><%= t(".avatar-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :about, t(".about"), class: 'control-label' %>
        <span class="help-block"><%= t(".about-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :about, class: 'form-control', rows: 4 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :status, t(".status"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.select(:status, status_for_challenge, class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :finish_date, t(".finish-date"), class: 'control-label' %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :finish_date, class: 'form-control js-datepicker', autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :prize, class: 'control-label' %>
        <span class="help-block"><%= t('.prize-description') %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :prize, class: 'form-control', rows: 4 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :entry_template_url, t(".entry-template-url"), class: 'control-label' %>
        <span class="help-block"><%= t(".entry-template-url-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :entry_template_url, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="sheet-subheader">
    <h3><%= t(".challenge-description") %></h3>
  </div>

  <div class="sheet-section sheet-section-with-pad">
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :description, t(".description"), class: 'control-label' %>
        <span class="help-block"><%= t(".description-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :description, class: 'form-control', rows: 4 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="control-label"><%= t(".points") %></label>
        <span class="help-block"><%= t(".points-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= t(".point1") %>
        <%= f.text_field :first_spec, class: 'form-control' %>
        <br />
        <%= t(".point2") %>
        <%= f.text_field :second_spec, class: 'form-control' %>
        <br />
        <%= t(".point3") %>
        <%= f.text_field :third_spec, class: 'form-control' %>
        <br />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="control-label"><%= t(".infographic") %></label>
      </div>
      <div class="col-sm-9">
        <% if @challenge.infographic? %>
          <%= image_tag @challenge.infographic_url, class: 'img-thumbnail l-space-bottom' %>
        <% end %>
        <%= f.file_field :infographic %>
      </div>
    </div>
  </div>

  <div class="sheet-subheader">
    <h3><%= t(".resources") %></h3>
  </div>
  <div class="sheet-section sheet-section-with-pad">
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :additional_links, t(".additional_links"), class: 'control-label' %>
        <span class="help-block"><%= raw t(".additional_links-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :additional_links, class: 'form-control', placeholder: t(".additional_links-placeholder"), rows: 3 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :dataset_id, t(".dataset_id"), class: 'control-label' %>
        <p><%= t(".dataset_id-description") %></p>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :dataset_id, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="sheet-subheader">
    <h3><%= t(".welcome_mail") %></h3>
  </div>
  <div class="sheet-section sheet-section-with-pad">
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :subject, t(".welcome_mail_subject"), class: 'control-label' %>
        <span class="help-block"><%= t(".welcome_mail_subject-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :subject, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :body, t(".welcome_mail_body"), class: 'control-label' %>
        <span class="help-block"><%= t(".welcome_mail_body-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :body, rows: 5, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="sheet-subheader">
    <h3><%= t(".phases") %></h3>
  </div>
  <div class="sheet-section sheet-section-with-pad">
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :ideas_phase_due_on, class: 'control-label' %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :ideas_phase_due_on, class: 'form-control js-datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :ideas_selection_phase_due_on, class: 'control-label' %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :ideas_selection_phase_due_on, class: 'form-control js-datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :prototypes_phase_due_on, class: 'control-label' %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :prototypes_phase_due_on, class: 'form-control js-datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit t('.submit'), class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>

<% end %>
<script>
  $(function() {
    $( "#challenge_dataset_id" ).tokenInput("<%= ENV['CKAN_API_BASE'] + '/action/package_search' %>", {
      crossDomain: false,
      jsonContainer: "result",
      jsonContainer2: "results",
      propertyToSearch: "title",
      preventDuplicates: true,
      minChars: 3,
      prePopulate: [
      <%= @challenge.prepopulate_dataset_id %>
      ],
      //translate
      hintText: "<%= t(".dataset_hint_text") %>",
      noResultsText: "<%= t(".dataset_no_results_text") %>",
      searchingText: "<%= t(".dataset_searching_text") %>"
    });
  });
</script>
