<div class="row finalists-container">
  <h3 class="finalist-title">Finalistas</h3>
  <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-2 no-padding">
    <div class="finalist">
      <%= image_tag 'retos_challenge_avatar.png' %>
      <p>
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 no-padding">
    <div class="finalist">
      <%= image_tag 'retos_challenge_avatar.png' %>
      <p>
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 no-padding">
    <div class="finalist">
      <%= image_tag 'retos_challenge_avatar.png' %>
      <p>
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 no-padding">
    <div class="finalist">
      <%= image_tag 'retos_challenge_avatar.png' %>
      <p>
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 no-padding">
    <div class="finalist">
      <%= image_tag 'retos_challenge_avatar.png' %>
      <p>
        Nombre del equipo
      </p>
    </div>
  </div>
</div>
