<div class="row finalists-container">
  <h3 class="finalist-title"><%= t(".finalists") %></h3>
</div>
<div class="row finalists-container">
  <% @finalists.each_with_index do |entry, index| %>
    <%= link_to challenge_entry_path(@challenge, entry) do %>
      <% if index %  5 == 0 %>
        <div class="col-md-offset-1 col-md-2 no-padding">
      <% else %>
        <div class="col-md-2 no-padding">
      <% end %>
          <div class="finalist">
            <% if entry.image_url %>
              <%= image_tag entry.image_url, class: "img-responsive"%>
            <% else %>
              <%= image_tag 'retos_challenge_avatar.png', class: "img-responsive" %>
            <% end %>
            <p style="margin:0px;"><%= entry.member %></p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
<div class="row challenge-collaborate-content">
  <%= link_to( t('dashboard.challenges.form.assessment-methodology'), @challenge.assessment_methodology, class: 'btn btn-default') unless @challenge.assessment_methodology.blank? %>
</div>
