<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-2">
    <div>
      <%= image_tag 'retos_challenge_avatar.png', width: "100%" %>
      <p class="finalist-name">
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <div>
      <%= image_tag 'retos_challenge_avatar.png', width: "100%" %>
      <p class="finalist-name">
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <div>
      <%= image_tag 'retos_challenge_avatar.png', width: "100%" %>
      <p class="finalist-name">
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <div>
      <%= image_tag 'retos_challenge_avatar.png', width: "100%" %>
      <p class="finalist-name">
        Nombre del equipo
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <div>
      <%= image_tag 'retos_challenge_avatar.png', width: "100%" %>
      <p class="finalist-name">
        Nombre del equipo
      </p>
    </div>
  </div>
</div>
