<section id="resources" class="unit resources">
  <div class="columns on-3">
    <div class="column collaborators">
      <div class="contianer content">
        <%= @challenge.collaborators.count %>
        <p><%= t(".collaborators") %></p>
        <a href="#collaborators"><span class="arrow"></span></a>
      </div>
    </div>
    <div class="column references">
      <div class="contianer content">
        <%= @challenge.total_references %>
        <p><%= t(".references") %></p>
        <a href="#references"><span class="arrow"></span></a>
      </div>
    </div>
    <div class="column datasets">
      <div class="contianer content">
        <%= @challenge.dataset_url.present? ? "1" : "0" %>
        <p><%= t(".datasets") %></p>
        <a href="#datasets"><span class="arrow"></span></a>
      </div>
    </div>
  </div>
  <div class="unit resources_display row" id="collaborators">
    <% if @challenge.collaborators.blank? %>
      <%= t(".non-collaboration") %>
    <% else %>
      <h4><%= t('.collaborators')%> </h4><br />
      <div class="unit row">
          <% @challenge.collaborators.each do |collaborator| %>
            <p class="collab">
              <%= link_to collaborator.profile_url, target: '_blank' do %>
                <%= image_tag(collaborator.avatar_url, title: collaborator.to_s, alt: collaborator.to_s) %>
              <% end %>
            </p>
          <% end %>
      </div>
    <% end %>
    <% if !@challenge.dataset_url.blank? %>
    <div class="unit row">
      <h4><%= t('.datasets') %></h4>
      <%= link_to @challenge.dataset_url, @challenge.dataset_url %>
    </div>
    <% end %>
    
  </div>
</section>
