<ul class="row challenge-tabs">
  <li class="col-xs-3 active">
  <a href="#collaborators_tab_pane" data-toggle="tab" class="challenge-tab">
    <em><%= collaborators_count %></em>
    <%= t(".collaborators").pluralize collaborators_count %>
  </a>
  </li>
  <li class="col-xs-3">
  <a href="#references_tab_pane" data-toggle="tab" class="challenge-tab">
    <em><%= references_count %></em>
    <%= t(".references").pluralize references_count %>
  </a>
  </li>
  <li class="col-xs-3">
  <a href="#datasets_tab_pane" data-toggle="tab" class="challenge-tab">
    <em><%= datasets_count %></em>
    <%= t(".datasets").pluralize datasets_count %>
  </a>
  </li>
  <li class="col-xs-3">
  <a href="#entries_tab_pane" data-toggle="tab" class="challenge-tab">
    <em><%= entries_count %></em>
    <%= t(".entries").pluralize entries_count %>
  </a>
  </li>
</ul>
