<section id="index_challenges" class="index_challenges">
  <header class='clearfix'>
    <h1 class='title'><%= t('.header') %></h1>
    <ul class="inline-list">
      <li><%= link_to t('.active'), challenges_path(active: 1), class: "#{check_filter('active')} success label round" %></li>
      <li><%= link_to t('.popular'), challenges_path(popular: 1), class: "#{check_filter('popular')} success label round" %></li>
      <li><%= link_to t('.recent'), challenges_path(recent: 1), class: "#{check_filter('recent')} success label round" %></li>
      <li><%= link_to t('.inactive'), challenges_path(inactive: 1), class: "#{check_filter('inactive')} success label round" %></li>
    </ul>
  </header>


  <section id="challenges_list" class="columns on-3 challenges_list gray">
    <%= render @challenges %>
  </section>
  <section id="paginator", class="paginator">
    <%= paginate @challenges %>
  </section>

</section>

<% if can? :create, Challenge %>
  <section id="new_challenge" class="unit new_challenge">
    <%= link_to t('.new_challenge'), new_organization_challenge_path(current_organization) %>
  </section>
<% end %>
