<% if can? :create, Challenge %>
  <div class="row">
    <div id="new_challenge" class="pull-right">
      <%= link_to t('.new_challenge'), new_organization_challenge_path(current_organization), class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

<!-- <h1><%= t('.header') %></h1> -->

<!-- <ul class="nav nav-pills">
  <li class="<%= check_filter('active') %>"><%= link_to t('.active'), challenges_path(active: 1) %></li>
  <li class="<%= check_filter('popular') %>"><%= link_to t('.popular'), challenges_path(popular: 1) %></li>
  <li class="<%= check_filter('recent') %>"><%= link_to t('.recent'), challenges_path(recent: 1) %></li>
  <li class="<%= check_filter('inactive') %>"><%= link_to t('.inactive'), challenges_path(inactive: 1) %></li>
</ul> -->

<% content_for :landing do %>
  <div id="intro" class="landing">
    <%= image_tag "logos-horizontal/retos_logo_horizontal-01.png", class: "image-center img-responsive" %>
    <h3 class="text-center text-white" style="margin-bottom:1em;"><%= t(".main_index_header") %></h4>
    <a href='#' id='player-trigger' data-toggle="modal" data-target="#modal-player"><i class="text-white fa fa-play-circle-o" id="player-icon" ></i></a>
    <%= render "pages/video_intro" %>
  </div>
<% end %>

<div id="challenges_list" class="row">
  <% @challenges_group.each do |challenge_group| %>
    <div class="row">
      <% challenge_group.each do |challenge| %>
        <%= render challenge %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="paginator">
  <%= paginate @challenges%>
</div>
