<section id="pitch" class="pitch row">
  <header>
    <h1><%= t('.header') %></h1>
  </header>
</section>

<div class="form_container">
  <section class="form_resources">
    <%= form_tag mail_newsletter_organization_challenge_path do %>
    <section>
      <div class="unit row">
        <div class="column left">
          <%= label_tag :subject, t(".newsletter_subject")  %>
          <p><%= t(".newsletter_subject-description") %></p>
        </div>
        <div class="column right">
          <%= text_field_tag :subject %>
        </div>
      </div>
      <div class="unit row">
        <div class="column left">
          <%= label_tag :body, t(".newsletter_body") %>
          <p><%= t(".newsletter_body-description") %></p>
        </div>
        <div class="column right">
          <%= text_area_tag :body, nil, maxlength: 300, rows: 5 %>
        </div>
      </div>

      <section id="form_save" class="form_save">
        <%= submit_tag t('.submit') %>
      </section>
    </section>
  <% end %>
  </section>
</div>
