.challenge.heading
  %h1= @challenge.title
  %p= @challenge.pitch

.challenge.photo
  = image_tag 'placeholder.jpg'

.challenge.authors
  %p
    Creado por: IFAI |
    Patrocinado por: Banco Mundial

.challenge.details
  .row
    .col-xs-12.col-sm-2
      %span.glyphicon.glyphicon-user{ "aria-hidden"=> "true" }
      %span 93 Participantes

    .col-xs-12.col-sm-2
      %span.glyphicon.glyphicon-user{ "aria-hidden"=> "true" }
      %span 14 Propuestas

    .col-xs-12.col-sm-2
      %span.glyphicon.glyphicon-user{ "aria-hidden"=> "true" }
      %span 14 Propuestas

    .col-xs-12.col-sm-3
      %span.glyphicon.glyphicon-user{ "aria-hidden"=> "true" }
      %span Premio $75,000 MXN

    .col-xs-12.col-sm-3
      %span.glyphicon.glyphicon-user{ "aria-hidden"=> "true" }
      %span 17 días para concluir etapa de ideas

.challenge.action.text-center
  = link_to '¡Participa ahora!', '#', class: 'btn btn-default'

.challenge.timeline
.challenge.content
  %h3 Objetivos del reto
  %p= markdown_for_additional_links @challenge.description

  %h3 Puntos clave:

  %h3 Datos y recursos
  %p= markdown_for_additional_links @challenge.description

  %h3 Criterios y comité de evaluación
  %p= markdown_for_additional_links @challenge.description

.challenge.comments
  %h3 Comentarios
  = render 'comments', challenge: @challenge
