<div class="sheet-header">
  <div class="row">
    <div class="col-md-6">
      <h1 class="sheet-title"><%= @challenge.title %></h1>
    </div>
    <div class="col-md-6 text-right">
      <div class="challenge-actions">
        <%= render "social_links" %>
      </div>
    </div>
  </div>
</div>
<div class="sheet-section challenge-profile-background <%= "challenge-profile-background-white" if @challenge.prize.blank? %>">
  <div class="challenge-profile">
    <div class="challenge-profile-main">
      <div class="challenge-profile-image js-challenge-profile-height-slave" style="background-image: url(<%= @challenge.avatar_url(:profile) %>)">
        <div class="challenge-hightlight">
          <div class="challenge-hightlight-item">
            <%= @challenge.current_phase_title %>
          </div>
          <% if @challenge.is_active? %>
          <div class="challenge-hightlight-item">
            <%= raw t(".days-left-to-finish", count: @days_left_for_current_phase) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="challenge-profile-aside js-challenge-profile-height-master">
      <div class="challenge-about">
        <h2 class="pitch"><%= @challenge.pitch %></h2>
        <p><%= markdown_for_additional_links @challenge.about %></p>
        <h2 class="title"><%= t("challenges.form.created-by") %></h2>
        <p><%= link_to image_tag(@organization.image_url(:profile)), @organization.website, target: '_blank' %></p>
      </div>

      <% if @challenge.prize.present? %>
        <div class="challenge-prize">
          <div class="row">
            <div class="col-xs-2">
              <%= image_tag 'challenge-prize.png', width: 50, class: 'media-object' %>
            </div>
            <div id="challenge-prize-description" class="col-xs-10">
              <%= markdown @challenge.prize %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="challenge-collaborate text-center">
  <div class="challenge-collaborate-container">
    <% if @challenge.has_finished? %>
      <% if @challenge.has_a_winner? %>
          <%= render 'finalists_and_winner' %>
      <% else %>
          <%= render 'ideas_finalists' %>
      <% end %>
    <% elsif (Phases.is_current?(:prototypes, @challenge) || Phases.is_current?(:prototypes_selection, @challenge)) && @challenge.has_finalists? %>
      <%= render 'ideas_finalists' %>
    <% end %>

    <% if user_is_able_to_collaborate? @challenge %>
      <% if can_edit_challenge? @challenge %>
        <div class="challenge-collaborate-content">
          <%= link_to t('.edit-challenge'), edit_dashboard_challenge_path(@challenge), class: 'btn btn-primary' %>
        </div>
      <% elsif Phases.is_current?(:ideas, @challenge) %>
        <div class="challenge-collaborate-content">
          <%= collaborate_section(@challenge) %>
        </div>
      <% elsif Phases.is_current?(:ideas_selection, @challenge) && !can_edit_challenge?(@challenge) %>
        <div class="challenge-collaborate-banner">
            <h3 style="color:white;"><%= t('.total-number-of-entries', count: @challenge.entries.count) %></h3>
        </div>
      <% elsif Phases.is_current?(:prototypes, @challenge) && current_member && current_member.is_able_to_submit_a_prototype?(@challenge) %>
        <% if current_member.has_submitted_prototype_for_challenge?(@challenge) %>
          <div class="challenge-collaborate-content">
            <%= link_to t('.edit-prototype'), edit_challenge_prototype_path(@challenge), class: 'btn btn-primary' %>
          </div>
        <% else %>
          <div class="challenge-collaborate-content">
            <%= link_to t('.send-prototype'), new_challenge_prototype_path(@challenge), class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="sheet-section sheet-section-with-pad">
  <h3 class="text-center l-space-bottom"><%= t('.phases') %></h3>
  <div class="phases-bar phases-bar js-phases-bar">
    <div class="phases-bar-milestone">
      <div class="phases-arrow">
        <div class="phases-arrow-dot"></div>
        <div class="phases-arrow-line"></div>
      </div>
      <div class="phases-date phases-date-milestone">
        <dl>
          <dt><%= @timeline.start.title %></dt>
          <dd><%= @timeline.start.date %></dd>
        </dl>
      </div>
    </div>
    <div class="phases-bar-phase">
      <div class="phases-bar-completeness" data-size="<%= @timeline.ideas.completeness %>">
      </div>
      <p><%= @timeline.ideas.title %></p>
      <div class="phases-arrow phases-arrow-end">
        <div class="phases-arrow-dot"></div>
        <div class="phases-arrow-line"></div>
      </div>
      <div class="phases-date phases-date-phase">
        <dl>
          <dt><%= @timeline.ideas.due_date_title %></dt>
          <dd><%= @timeline.ideas.due_date %></dd>
        </dl>
      </div>
    </div>
    <div class="phases-bar-phase">
      <div class="phases-bar-completeness" data-size="<%= @timeline.ideas_selection.completeness %>">
      </div>
      <p><%= @timeline.ideas_selection.title %></p>
    </div>
    <div class="phases-bar-milestone">
      <div class="phases-arrow">
        <div class="phases-arrow-dot"></div>
        <div class="phases-arrow-line"></div>
      </div>
      <div class="phases-date phases-date-milestone">
        <dl>
          <dt><%= @timeline.ideas_selection.due_date_title %></dt>
          <dd><%= @timeline.ideas_selection.due_date %></dd>
        </dl>
      </div>
    </div>
    <div class="phases-bar-phase">
      <div class="phases-bar-completeness" data-size="<%= @timeline.prototypes.completeness %>">
      </div>
      <p><%= @timeline.prototypes.title %></p>
      <div class="phases-arrow phases-arrow-end">
        <div class="phases-arrow-dot"></div>
        <div class="phases-arrow-line"></div>
      </div>
      <div class="phases-date phases-date-phase">
        <dl>
          <dt><%= @timeline.prototypes.due_date_title %></dt>
          <dd><%= @timeline.prototypes.due_date %></dd>
        </dl>
      </div>
    </div>
    <div class="phases-bar-phase">
      <div class="phases-bar-completeness" data-size="<%= @timeline.prototypes_selection.completeness %>">
      </div>
      <p><%= @timeline.prototypes_selection.title %></p>
    </div>
    <div class="phases-bar-milestone">
      <div class="phases-arrow">
        <div class="phases-arrow-dot"></div>
        <div class="phases-arrow-line"></div>
      </div>
      <div class="phases-date phases-date-last-milestone">
        <dl>
          <dt><%= @timeline.prototypes_selection.due_date_title %></dt>
          <dd><%= @timeline.prototypes_selection.due_date %></dd>
        </dl>
      </div>
    </div>
  </div>
  <% if @challenge.has_finished? && !@challenge.has_a_winner? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-warning">
          <p class="disclaimer"><%= t('.disclaimer', organization_name: @organization.name)%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="descripcion-del-reto" class="challenge-subheader text-center">
  <h3><%= t('.challenge-description') %></h3>
</div>
<div class="sheet-section">
  <div class="row">
    <div class="col-md-7">
      <div class="challenge-needs">
        <%= markdown_for_additional_links @challenge.description %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="challenge-points">
        <div class="challenge-points-header">
          <h3><%= t("challenges.form.points") %></h3>
        </div>
        <ul>
          <% if @challenge.first_spec.present? %>
            <li><%= markdown @challenge.first_spec %></li>
          <% end %>
          <% if @challenge.second_spec.present? %>
            <li><%= markdown @challenge.second_spec %></li>
          <% end %>
          <% if @challenge.third_spec.present? %>
            <li><%= markdown @challenge.third_spec %></li>
          <% end %>
          <% if @challenge.fourth_spec.present? %>
            <li><%= markdown @challenge.fourth_spec %></li>
          <% end %>
          <% if @challenge.fifth_spec.present? %>
            <li><%= markdown @challenge.fifth_spec %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if @challenge.infographic? %>
    <hr/>
    <div class="text-center">
      <div class="sheet-section sheet-section-with-pad text-center">
        <%= image_tag @challenge.infographic_url %>
      </div>
    </div>
  <% end %>
</div>

<div id="datos" class="challenge-subheader text-center">
  <h3><%= t('.datasets-title') %></h3>
</div>
<div class="sheet-section sheet-section-with-pad">
  <%= render 'datasets', challenge: @challenge, datasets: @datasets %>
</div>

<%= render 'comments', challenge: @challenge %>
