<div class="sheet-header">
  <div class="row">
    <div class="col-md-6">
      <h1 class="sheet-title"><%= @challenge.title %></h1>
    </div>
    <div class="col-md-6 text-right">
      <div class="challenge-actions">
        <%= render "social_links" %>
        <%= newsletter_helper(@challenge)  %>
      </div>
    </div>
  </div>
</div>
<div class="sheet-section">
  <div class="row">
    <div class="col-md-7">
      <div class="challenge-profile-image" style="background-image: url(<%= @challenge.avatar_url(:profile) %>)">
        <div class="challenge-hightlight">
          <div class="challenge-hightlight-author">
            <span><%= t("challenges.form.created-by") %></span>
            <em><%= link_to @organization.name, organization_path(@organization.slug) %></em>
          </div>
          <div class="challenge-hightlight-status">
            <%= t("challenges.status.#{@challenge.status}") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="challenge-about">
        <h2><%= t("challenges.form.about") %></h2>
        <p><%= @challenge.about %></p>
      </div>
    </div>
  </div>
</div>

<div class="challenge-collaborate text-center">
  <div class="challenge-collaborate-content">
    <%= collaborate_section(@challenge) %>
  </div>
</div>

<%= render 'tab',
  collaborators_count: @collaborators_count,
  references_count: @challenge.total_references,
  datasets_count: @datasets.count,
  entries_count: @entries.count %>

<div class="sheet-section">
  <div class="challenge-tab-pane active" id="collaborators_tab_pane">
    <div class="clearfix js-collaborators-container">
      <%= render 'collaborators', collaborators: @collaborators %>
    </div>
    <%= link_to_next_page @collaborators, t('.show-more'), remote: true, class: 'js-more-collaborators btn btn-primary btn-lg' %>
  </div>
  <div class="challenge-tab-pane" id="references_tab_pane">
    <%= render 'references', references: @challenge.references %>
  </div>
  <div class="challenge-tab-pane" id="datasets_tab_pane">
    <%= render 'datasets', challenge: @challenge, datasets: @datasets %>
  </div>
  <div class="challenge-tab-pane" id="entries_tab_pane">
    <%= render 'entries', challenge: @challenge, entries: @entries %>
  </div>
</div>

<div class="challenge-subheader">
  <h3><%= t('challenges.form.needs') %></h3>
</div>

<div class="sheet-section">
  <div class="row">
    <div class="col-md-7">
      <div class="challenge-needs">
        <%= markdown @challenge.description %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="challenge-points">
        <div class="challenge-points-header">
          <h3><%= t("challenges.form.points") %></h3>
        </div>
        <ul>
          <% if @challenge.first_spec.present? %>
            <li><%= markdown @challenge.first_spec %></li>
          <% end %>
          <% if @challenge.second_spec.present? %>
            <li><%= markdown @challenge.second_spec %></li>
          <% end %>
          <% if @challenge.third_spec.present? %>
            <li><%= markdown @challenge.third_spec %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'activities' %>
<%= render 'comments', challenge: @challenge %>

<div class="challenge-footer text-center">
  <h2><%= t(".supportus") %></h2>

  <div class="challenge-actions">
    <%= collaborate_section(@challenge) %>
  </div>
</div>
