<div class="sheet-header">
  <div class="row">
    <div class="col-md-6">
      <h1 class="sheet-title"><%= @challenge.title %></h1>
    </div>
    <div class="col-md-6 text-right">
      <div class="challenge-actions">
        <%= render "social_links" %>
      </div>
    </div>
  </div>
</div>
<div class="sheet-section">
  <div class="row">
    <div class="col-md-7">
      <div class="challenge-profile-image" style="background-image: url(<%= @challenge.avatar_url(:profile) %>)">
        <div class="challenge-hightlight">
          <div class="challenge-hightlight-status">
            <%= t("challenges.status.#{@challenge.status}") %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="challenge-about">
        <h2 class="challenge-about-title"><%= t(".description-title") %></h2>
        <p><%= @challenge.about %></p>

        <h2 class="challenge-about-title"><%= t("challenges.form.created-by") %></h2>
        <p><%= @organization.name %></p>
      </div>
    </div>
  </div>
</div>

<div class="challenge-collaborate text-center">
  <div class="challenge-collaborate-content">
    <%= collaborate_section(@challenge) %>
  </div>
</div>

<div class="sheet-section sheet-section-with-pad text-center">
  <%= image_tag 'linea_retos.png' %>
</div>

<div class="challenge-subheader text-center">
  <h3><%= t('.challenge-description') %></h3>
</div>
<div class="sheet-section">
  <div class="row">
    <div class="col-md-5">
      <div class="challenge-needs">
        <%= markdown @challenge.description %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="challenge-points">
        <div class="challenge-points-header">
          <h3><%= t("challenges.form.points") %></h3>
        </div>
        <ul>
          <% if @challenge.first_spec.present? %>
            <li><%= markdown @challenge.first_spec %></li>
          <% end %>
          <% if @challenge.second_spec.present? %>
            <li><%= markdown @challenge.second_spec %></li>
          <% end %>
          <% if @challenge.third_spec.present? %>
            <li><%= markdown @challenge.third_spec %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if @challenge.infographic? %>
    <hr/>
    <div class="text-center">
      <div class="sheet-section sheet-section-with-pad text-center">
        <%= image_tag @challenge.infographic_url %>
      </div>
    </div>
  <% end %>
</div>

<div class="challenge-subheader text-center">
  <h3><%= t('.datasets-title') %></h3>
</div>
<div class="sheet-section sheet-section-with-pad">
  <%= render 'datasets', challenge: @challenge, datasets: @datasets %>
</div>

<%= render 'comments', challenge: @challenge %>
