<div class="form_container">
  <%= form_for @organization do |f| %>
    <section id="form_main" class="form_main">
    <%= f.error_messages %>

    <section>
    <div class="unit row">
      <div class="column left">
        <%= f.label :name, t(".name")  %>
      </div>
      <div class="column right">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="unit row">
      <div class="column left">
        <%= f.label :email, t(".email")  %>
        <p><%= t(".email-description") %></p>
      </div>
      <div class="column right" style="padding-top:30px;">
        <%= f.text_field :email %>
      </div>
    </div>


    <div class="unit row">
      <div class="column left">
        <%= f.label :bio, t(".bio") %>
        <p><%= t(".bio-description") %></p>
      </div>
      <div class="column right">
        <%= f.text_area :bio %>
      </div>
    </div>

    <div class="unit row">
      <div class="column left">
        <%= f.label :avatar, t(".avatar") %>
      </div>
      <div class="column right">
        <%= f.file_field :avatar %>
        <div style="padding-top:20px;">
          <%= image_tag @organization.image_url(:profile) %>
        </div>
      </div>
    </div>

    <div class="unit row">
      <div class="column left">
      </div>
    </div>
    </section>
    </section>

    <section id="form_save" class="form_save">
    <% if params[:new_user] %>
      <%= f.submit t(".to_challenge_creation") %>
    <% else %>
      <%= f.submit t(".submit") %>
    <% end %>
    </section>

  <% end %>
</div>
