.col-xs-12.col-sm-4
  .card-widget
    = link_to challenge_path(challenge) do
      .photo
        = image_tag challenge.avatar_url
      .title
        %h5= challenge.title
      .content
        %p
          .row
            .col-xs-12.col-sm-6
              = render 'shared/tidbits', format: :inverse, label: 'Participantes', content: challenge.collaborators.count, icon: 'fa fa-user'
            - if Phases.days_left_for_current_phase(challenge) >= 0
              .col-xs-12.col-sm-6
                = render 'shared/tidbits', format: :inverse, label: 'días', content: Phases.days_left_for_current_phase(challenge), icon: 'fa fa-calendar'
