<section id="index_challenges" class="index_challenges">
  <header>
    <h1><%= @organization.name %></h1>
  </header>

  <%= form_tag add_suscriber_organization_path(@organization) do %>
    <%= label_tag :email, t('.suscribe_label_field') %>
    <%= email_field_tag :email, nil, placeholder: t('.email_placeholder') %>
    <%= submit_tag t('.suscribe') %>
  <% end %>

  <%= content_tag 'h2', "Retos" unless @organizations.nil? %>
  <section id="challenges_list" class="columns on-3 challenges_list gray">
    <%= render partial: 'challenges/challenge', collection: @organization.challenges %>
  </section>

</section>
