<p><%= t '.title', email: @resource.email %></p>

<p><%= t('.instructions') %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.ignore_if_necessary') %></p>
<p><%= t('.explanation') %></p>
