<h1 class="l-space-bottom">Propuestas</h1>

<div class="btn-group l-space-bottom">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <strong>Reto:</strong> <%= @current_challenge.title %> <span class="caret"></span>
  </button>
  <ul id="challenges_options" class="dropdown-menu" role="menu">
    <% @challenges.each do |challenge| %>
      <li><%= link_to challenge.title, dashboard_entries_path(challenge_id: challenge.id) %></li>
    <% end %>
  </ul>
</div>

<% if @entries.any? %>
  <table id="entries" class="table table-striped table-vertically-centered">
    <thead>
      <tr>
        <th></th>
        <th>Empresa</th>
        <th>Link al proyecto</th>
        <th>Tecnologías</th>
        <th>¿Pública?</th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td>
            <%= link_to entry.name, '#' %><br/>
            <small>Fecha envío: <%= l(entry.created_at, format: :short)%></small>
          </td>
          <td><%= entry.member.name %></td>
          <td><%= link_to entry.github_url, entry.github_url, target: '_blank' %></td>
          <td><%= entry.technologies %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    Aún no hay propuestas para este reto.
  </div>
<% end %>
