<h1 class="l-space-bottom"><%= t('.entries-title') %></h1>

<%= link_to t('.to-csv'),
  dashboard_entries_path(challenge_id: @current_challenge.id, format: :csv),
  class: 'btn btn-default pull-right' %>

<%= link_to t('.email-participants'),
  participants_new_dashboard_challenge_email_path(@current_challenge),
  class: 'btn btn-default pull-right' if @current_challenge.has_participants? %>

<div class="l-space-bottom">
  <%= render 'challenges_filter',
    challenges: @challenges,
    current_challenge: @current_challenge,
    filter_path: ->(challenge) { dashboard_entries_path(challenge_id: challenge.id) } %>
</div>

<% if @current_phase.present? %>
  <h4 class="l-space-bottom"><span class="label label-info">Etapa: <%= @current_phase %></span></h4>
<% end %>

<div id="entries_filters" class="btn-group l-space-bottom">
  <%= link_to dashboard_entries_path(challenge_id: @current_challenge.id),
    class: "btn btn-default #{filter_class(nil)}" do %>
    <span id="received_entries_count"><%= @current_challenge.entries.count %></span>
    <span>recibidas</span>
  <% end %>

  <%= link_to dashboard_entries_path(challenge_id: @current_challenge.id, filter: :accepted),
    class: "btn btn-default #{filter_class('accepted')}" do %>
    <span id="accepted_entries_count"><%= @current_challenge.entries.accepted.count %></span>
    <span>aceptadas</span>
  <% end %>
</div>

<% if @entries.any? %>
  <table id="entries" class="table table-striped table-vertically-centered">
    <thead>
      <tr>
        <th></th>
        <th><%= t('.company-name') %></th>
        <th><%= t('.entry-email') %></th>
        <th><%= t('.link-to-project') %></th>
        <th><%= t('.technologies') %></th>
        <th><%= t('.public') %></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for :tr, @entries do |entry| %>
        <td>
          <%= link_to entry.name, dashboard_entry_path(entry) %>
          <%= render 'entry_status', entry: entry %>
          <br/>
          <small><%= t('.sent-date') %> <%= l(entry.created_at, format: :short)%></small>
        </td>
        <td><%= entry.member.company_name %></td>
        <td><%= truncate(entry.member.email, length: 25) %></td>
        <td><%= link_to truncate(entry.idea_url), entry.idea_url, target: '_blank' %></td>
        <td><%= entry.technologies_separated_by_commas %></td>
        <td><%= render 'visit_or_publish_entry', entry: entry %></td>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    <%= t('.no-proposals') %>
  </div>
<% end %>
