<!DOCTYPE html>
<html>
<head>
  <title>Aquila</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    Welcome <%= current_user.to_s %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <p><%= link_to "Sign in with Github", "/auth/github" %></p>
    <p><%= link_to "Sign in with LinkedIn", "/auth/linkedin" %></p>
  <% end %>

  <%= yield %>

</body>
</html>
