<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.header')%></title>
  <meta property="og:title" content='<%= t('layout.header')%>' />
  <meta property="og:description" content='<%= t('layout.description')%>' />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    window.currentController  = '<%= j controller_name %>';
    window.currentAction  = '<%= j controller.action_name %>';
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content" class="unit">
    <%= render partial: "shared/header" %>

    <div class="unit">
      <div class="container holder body">
        <% flash.each do |type, message| %>
          <div class="flash <%= type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div id="root_footer"></div>
  </div>
  <%= render partial: "shared/footer" %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36672089-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
