<!DOCTYPE html>
<html>
<head>
  <title>Codeando México</title>
  <meta property="og:title" content="<%= t('layout.header')%>"/>
  <meta property="og:description" content="<%= t('layout.description')%>"/>
  <%= stylesheet_link_tag 'aquila', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">
    <%= render 'shared/header' %>

    <div class="main">
      <div class="container">
        <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% end %>

        <% if notice %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <div class="footer">
    <div class="container">
      <%= raw t('layout.copyright') %>
      <ul class="list-inline pull-right">
        <li><%= link_to t('.twitter'), "https://www.twitter.com/codeandomexico" %></li>
        <li><%= link_to "Blog", "http://blog.codeandomexico.org" %></li>
        <li><%= link_to t('.contact_us'), "mailto:equipo@codeandomexico.org" %></li>
      </ul>
    </div>
  </div>
</body>
</html>
