<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.header') %></title>
  <meta property="og:title" content="<%= t('layout.header')%>"/>
  <meta property="og:description" content="<%= t('layout.description')%>"/>
  <%= stylesheet_link_tag 'aquila', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">
    <%= render 'shared/header' %>

    <div class="main">
      <div class="container">
        <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% end %>

        <% if notice %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <div class="footer">
    <div class="container text-center">
      <%= image_tag 'mx_a_logo_footer.png', width: 200 %><br/>
      <%= link_to 'Términos y Condiciones', terms_of_service_path %>
      <span>|</span>
      <%= link_to 'Privacidad', privacy_path %>
    </div>
  </div>
</body>
</html>
