!!! 5
%html
  %head
    %title= t('layout.header')
    %meta{ property: "og:title", content:"#{t('layout.header')}" }
    %meta{ property: "og:description", content: "#{t('layout.description')}" }
    -# %meta{ property: "og:image", content: "#{image_url 'retos_sharing_FB.png'}" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ href:'https://fonts.googleapis.com/css?family=Roboto:300,700', rel: 'stylesheet', type: 'text/css' }
    %link{ href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet" }
    = stylesheet_link_tag 'aquila', media: 'all'
    = javascript_include_tag 'application'
    = javascript_tag do
      window.currentController  = '#{j controller.controller_name}';
    = csrf_meta_tags
    = render 'google_analytics'
  %body{ 'ng-app' => 'aquila'}
    #header
      = render 'shared/header'
    #main
      = yield :landing
      .container
        = display_flash_messages
        = yield
    #footer
      = render 'shared/footer'
