<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.header') %></title>
  <meta property="og:title" content="<%= t('layout.header')%>"/>
  <meta property="og:description" content="<%= t('layout.description')%>"/>
  <%= stylesheet_link_tag 'aquila', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <%= render 'google_analytics' %>
</head>
<body>
  <div class="wrapper">
    <%= render 'shared/header' %>

    <%= yield :landing %>

    <div class="main">
      <div class="container">
        <% if alert %>
          <div class="alert alert-danger">
            <%= alert %>
          </div>
        <% end %>

        <% if notice %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <div class="footer">
    <div class="container text-center">
      <ul class="list-inline">
        <li><%= image_tag 'logo_usaid.png', width: 200 %></li>
        <li><%= link_to(image_tag('logo_cmx.png', width: 180), 'http://codeandomexico.org') %></li>
      </ul>
      <ul class="list-inline">
        <li><%= link_to(image_tag('mx_a_logo_footer.png', width: 135, style:"margin-left:40px;"), 'http://mxabierto.tumblr.com') %></li>
        <li><%= link_to(image_tag('presidencia.png', width: 200, style:"margin-left:30px;"), 'http://www.presidencia.gob.mx') %></li>
      </ul>

      <ul class="list-inline">
        <li><%= link_to 'Aviso de Privacidad', privacy_path %></li>
        <li class="text-muted">|</li>
        <li><%= link_to 'Términos y condiciones', terms_of_service_path %></li>
      </ul>
    </div>
  </div>
</body>
</html>
