!!! 5
%html
  %head
    %title= t('layout.header')
    %meta{ property: "og:title", content:"#{t('layout.header')}" }
    %meta{ property: "og:description", content: "#{t('layout.description')}" }
    %meta{ property: "og:image", content: "#{image_url 'retos_sharing_FB.png'}" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = stylesheet_link_tag 'aquila', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet" }
    %link{ href: '//fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel:'stylesheet', type: 'text/css' }
    = render 'google_analytics'
  %body
    #header
      = render 'shared/header'
    #main
      #intro
        = yield :landing
      .container
        = display_flash_messages
        = yield
    #footer
      .row.info__links
        .col-xs-12.col-sm-2
          %p.header Codeando México
          %ul
            %li Retos
            %li Ideas
            %li Hackatons
            %li Datos Abiertos
            %li Aplicaciones Cívicas
        .col-xs-12.col-sm-2
          %p.header Codeando México
          %ul
            %li Retos
            %li Ideas
            %li Hackatons
            %li Datos Abiertos
            %li Aplicaciones Cívicas
        .col-xs-12.col-sm-2
          %p.header Codeando México
          %ul
            %li Retos
            %li Ideas
            %li Hackatons
            %li Datos Abiertos
            %li Aplicaciones Cívicas
        .col-xs-12.col-sm-2
          %p.header Codeando México
          %ul
            %li Retos
            %li Ideas
            %li Hackatons
            %li Datos Abiertos
            %li Aplicaciones Cívicas
        .col-xs-12.col-sm-8
      .row
        .col-xs-12
          %p
            2015 | Creado por
            = link_to 'Cívica Digital', '#'
          %p
            Codeando México A.C. es una organización sin fines de lucro que busca
            promover la solución de problemas ciudadanos en México usando tecnología.
          %p Fundada en 2013 por los geeks de Cívica Digital.
