<!DOCTYPE html>
<html>
<head>
  <title>Codeando México</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid l-dashboard">
    <div class="col-lg-3 l-sidebar sidebar">
      <h1 class="l-space-bottom"><%= image_tag 'logo.png', alt: 'Codeando México' %></h1>
      <h3 class="text-muted l-space-bottom"><%= organization.name %></h3>
      <ul class="sidebar-nav">
        <li><%= link_to 'Dashboard', dashboard_path, class: tab_class('dashboard') %></li>
        <li><%= link_to 'Retos', dashboard_challenges_path, class: tab_class('dashboard/challenges') %></li>
        <li><%= link_to 'Propuestas', dashboard_entries_path, class: tab_class('dashboard/entries') %></li>
        <li><%= link_to 'Participantes', dashboard_collaborators_path, class: tab_class('dashboard/collaborators') %></li>
      </ul>
      <hr/>
      <ul class="sidebar-subnav">
        <li><%= link_to 'Configuración', edit_organization_path(organization) %></li>
        <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
    <div class="col-lg-9 l-main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
