<!DOCTYPE html>
<html>
<head>
  <title>Retos públicos</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- brand -->
          <a class="navbar-brand" href="#">Organizaci&oacute;n</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- left side of the navbar -->
          <ul class="nav navbar-nav">
            <%= content_tag :li, class: tab_class('dashboard') do %>
              <%= link_to 'Dashboard', dashboard_path %>
            <% end %>
            <%= content_tag :li, class: tab_class('dashboard/challenges') do %>
              <%= link_to 'Retos', dashboard_challenges_path %>
            <% end %>
            <%= content_tag :li, class: tab_class('dashboard/entries') do %>
              <%= link_to 'Propuestas', dashboard_entries_path %>
            <% end %>
            <%= content_tag :li, class: tab_class('dashboard/collaborators') do %>
              <%= link_to 'Participantes', dashboard_collaborators_path %>
            <% end %>
            <%= content_tag :li, class: tab_class('dashboard/judges') do %>
              <%= link_to 'Jurado', dashboard_judges_path %>
            <% end %>
          </ul>
          <!-- right side of the navbar -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Perfil', edit_organization_path(organization) %></li>
                <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
      <% end %>

      <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
      <% end %>

      <%= yield %>
    </div>

  </div>
</body>
</html>
