<%= form_for @member, html: { class: 'form-horizontal' } do |f| %>
  <div class="sheet-section sheet-section-with-pad">
    <%= f.error_messages %>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :name, t(".name"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :company_name, t(".company-name"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :company_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :company_president, t(".company-president"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :company_president, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :company_rfc, t(".company-rfc"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :company_rfc, class: 'form-control' %>
      </div>
    </div>

    <!-- <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :company_charter, t(".company-charter"), class: 'control-label' %>
        <span class="help-block"><%= t(".company-charter-description") %></span>
      </div>
      <div class="col-sm-9">
        <% if @member.company_charter? %>
          <%= link_to @member.read_attribute(:company_charter), @member.company_charter.url, class: 'l-space-bottom' %>
        <% end %>
        <%= f.file_field :company_charter %>
      </div>
    </div> -->

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :email, t(".email"), class: 'control-label' %>
        <span class="help-block"><%= t(".email-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :email, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :bio, t(".bio"), class: 'control-label' %>
        <span class="help-block"><%= t(".bio-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :bio, class: 'form-control', rows: 4 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :avatar, t(".avatar"), class: 'control-label' %>
        <span class="help-block"><%= t(".avatar-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= image_tag @member.image_url(:profile) %>
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="control-label"><%= t('.notification_mailer') %></label>
      </div>
      <div class="col-sm-9">
        <div class="checkbox">
          <label>
            <%= f.check_box :phase_finish_reminder_setting %> <%= t('.phase_finish_reminder_setting') %>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit t('.submit'), class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
<% end %>
