<%= form_for @member, html: { class: 'form-horizontal form' } do |f| %>
  <div class="sheet-section sheet-section-with-pad">
    <%= f.error_messages %>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :name, t(".name"), class: 'control-label' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :email, t(".email"), class: 'control-label' %>
        <span class="help-block"><%= t(".email-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :email, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :github_url, t(".github_url"), class: 'control-label' %>
        <span class="help-block"><%= t(".github_url-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :github_url, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :twitter_url, t(".twitter_url"), class: 'control-label' %>
        <span class="help-block"><%= t(".twitter_url-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :twitter_url, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :facebook_url, t(".facebook_url"), class: 'control-label' %>
        <span class="help-block"><%= t(".facebook_url-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :facebook_url, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :bio, t(".bio"), class: 'control-label' %>
        <span class="help-block"><%= t(".bio-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :bio, class: 'form-control', rows: 4 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= f.label :avatar, t(".avatar"), class: 'control-label' %>
        <span class="help-block"><%= t(".avatar-description") %></span>
      </div>
      <div class="col-sm-9">
        <%= image_tag @member.image_url(:profile), class: 'avatar', style: 'margin-bottom: 10px;' %>
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">
        <label class="control-label"><%= t('.notification_mailer') %></label>
        <span class="help-block"><%= t(".select_notifications_that_you_wish_to_receive") %></span>
      </div>
      <div class="col-sm-9">
        <div class="checkbox">
          <label>
            <%= f.check_box :phase_finish_reminder_setting %> <%= t('.phase_finish_reminder_setting') %>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit t('.submit'), class: 'btn btn-default btn-lg' %>
      </div>
    </div>
  </div>
<% end %>
