<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <%= image_tag @member.image_url(:profile), class: 'img-responsive' %>
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= @member.to_s.titleize %>
        </div>
        <div class="profile-usertitle-role">
          <%= @member.role.titleize %>
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">
        <%= link_to fa_icon('github'), @member.github_url %>
        <%= link_to fa_icon('twitter'), @member.twitter_url %>
        <%= link_to fa_icon('facebook'), @member.facebook_url %>
      </div>
      <!-- END SIDEBAR BUTTONS -->
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li><a href="#">Hacker desde hace: <%= time_ago_in_words @member.created_at %></a></li>
          <li><%= link_to fa_icon('rocket', text: 'Retos actuales'), challenges_path %></li>
          <li><%= link_to fa_icon('group', text: 'Brigadas actuales'), brigades_path %></li>
          <% if current_user.userable == @member %>
            <li><%= link_to fa_icon('pencil', text: 'Editar'), edit_member_path(@member) %></li>
          <% end %>
        </ul>
      </div>
      <!-- END MENU -->
    </div>
  </div>
  <div class="col-md-9">
    <div class="profile-content">
      <p>
        Biografía:
      </p>
      <p>
        <%= @member.bio %>
      </p>
    </div>

    <div class="profile-content">
      <p>
        Brigades stuff here
      </p>
    </div>
    <div class="profile-content">
      <p>
        Projects stuff here
      </p>
    </div>
  </div>
</div>
