<%= form_for(@brigade_project) do |f| %>
  <% if @brigade_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brigade_project.errors.count, "error") %> prohibited this brigade_project from being saved:</h2>

      <ul>
      <% @brigade_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :brigade %><br />
    <%= f.text_field :brigade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
