<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @brigade_project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @brigade_project.description %>
</p>

<p>
  <b>Brigade:</b>
  <%= @brigade_project.brigade %>
</p>


<%= link_to 'Edit', edit_brigade_project_path(@brigade_project) %> |
<%= link_to 'Back', brigade_projects_path %>
